<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedAnalysesChimiques()" [disabled]="!selectedAnalysesChimiques || !selectedAnalysesChimiques.length"></button>
            <button pButton pRipple label="Actualiser" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getALLChimique()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="analysesChimiques" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','nom','emplacement','etat','dateFermeture','ref','matiere']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedAnalysesChimiques" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">List des prélèvements </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
             <th pSortableColumn="dateCreation">Date Creation<p-sortIcon field="dateCreation"></p-sortIcon></th>
             <th pSortableColumn="matiere">Matiére<p-sortIcon field="matiere"></p-sortIcon></th>
            <th pSortableColumn="temperature">temperature <p-sortIcon field="temperature"></p-sortIcon></th>
            <th pSortableColumn="vent">vent <p-sortIcon field="vent"></p-sortIcon></th>
            <th pSortableColumn="ref">Relatif  <p-sortIcon field="ref"></p-sortIcon></th>

              <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-analyseChimique >
          <tr >
            <td>
              <p-tableCheckbox [value]="analyseChimique"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{analyseChimique.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Réference</span>
              {{analyseChimique.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Date Analyse</span>
              {{analyseChimique.dateAnalyse}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Matiére</span>
              {{analyseChimique.matiere}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">temperature</span>
              {{analyseChimique.temperature}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">vent</span>
              {{analyseChimique.vent}}
            </td>
            <td>
              {{ analyseChimique.ref }}

            </td>



            <td>
              <div class="flex ">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAnalyseChimique(analyseChimique)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAnalyseChimique(analyseChimique)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>



    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Êtes-vous sûr de vouloir supprimer? <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>



