<div class="layout-topbar">
    <a class="layout-topbar-logo ml-12"  routerLink="">

<!--        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">-->
      <img src="assets/layout/images/logo.png" alt="logo">
        <span></span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu  " [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">


        <button class="p-link layout-topbar-button  " (click)="dec()">
            <i class="pi pi-sign-out text-red-400 "> </i>
            <span>Déconnexion</span>
        </button>
    </div>
</div>
