<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" keep pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" keep pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedAnalysesPhysiques()" [disabled]="!selectedCommandes || !selectedCommandes.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllCommandes()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="comanndes" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nom','etat']" [paginator]="true" [rowsPerPageOptions]="[10,20,30,200,500]" [showCurrentPageReport]="true" currentPageReportTemplate="Display from {first} to {last} of {totalRecords} items" [(selection)]="selectedCommandes" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Commands List </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="etat">Status<p-sortIcon field="etat"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-commande >
          <tr >
            <td>
              <p-tableCheckbox [value]="commande"></p-tableCheckbox>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">ID</span>
              {{commande.id}}
            </td>
            <td style="width:50%; min-width:10rem;">
              <span class="p-column-title">Nom</span>
              {{commande.nom}}
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Etat</span>
              {{commande.etat}}
            </td>
            <td style="width:10%; min-width:10rem;">
              <div *ngIf="getToken()=='ADMIN'"   class="flex justify-content-end mr-8">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCommande(commande)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCommande(commande)"></button>

              </div>
              <div *ngIf="getToken()!=='ADMIN'"   class="flex justify-content-end mr-8">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary mr-2" (click)="editCommande(commande)"></button>

                 <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" (click)="showDialogDetails(commande)"></button>
              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>



    <p-dialog [(visible)]="deleteProductDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span >Are you sure you want to delete ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected commands</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<!-- Details//////////////////////////////////////////////// -->


<div class="card flex justify-content-center">
  <p-dialog header="Details Commande" [(visible)]="visible" [style]="{ width: '80vw', maxWidth: '300vw' }">


    <div class="card" id="commandepdf">



<!--      infoPropreTableCommande-->
      <div class="shadow-1 p-2 gap-1 text-3xl flex  inline-flex justify-content-evenly" >Command Details  :<br>
        <br><br>
          <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{selectedCommandPrint.dateCommande}}</span><br><br>
          <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.nom}}</span><br><br>
          <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.etat}} °C</span><br><br>

          <label class="text-2xl font-bold">Date </label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.dateCreation}}</span><br>
        </div>
      <br><br>
      <br><br>
      <br><br>
      <div class="shadow-1 p-2 gap-1 text-3xl flex inline-flex justify-content-evenly" >Pond Details  :<br>
        <label class="text-2xl font-bold">Date </label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.dateCreation}}</span><br>

        <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{selectedCommandPrint.bassin?.reference}}</span><br>
        <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.description}}</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.nom}} °C</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.emplacement}} °C</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{selectedCommandPrint.bassin?.etat}} °C</span><br>

      </div>

<!--      infoTable-->
      <p-table
        [columns]="selectedColumns"
        [value]="selectedCommandPrint.ligneCommandes!==undefined?selectedCommandPrint.ligneCommandes:[]"
        [tableStyle]="{'min-width': '50rem'}"
        editMode="row"
        id="EXCEL"
        #EXCEL
      >

<!--        <ng-template pTemplate="caption">-->
<!--          <p-multiSelect-->
<!--            display="chip"-->
<!--            [options]="cols"-->
<!--            [(ngModel)]="selectedColumns"-->
<!--            optionLabel="header"-->
<!--            selectedItemsLabel="{0} columns selected"-->
<!--            [style]="{'min-width': '200px'}"-->
<!--            placeholder="Choose Columns" />-->



<!--        </ng-template>-->
        <ng-template pTemplate="header" let-columns>
          <tr>

            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lineCommande let-columns="columns" let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="lineCommande">
            <ng-container *ngFor="let col of columns">
              <td *ngIf="col.id>26 && col.id<39">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="text"   pInputText [placeholder]="col.header" [(ngModel)]="lineCommande[col.field]  "(ngModelChange)="CalculeTotal()"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{getValueOfligneCommande(col,lineCommande)}}
                    {{CalculeTotal()}}
                  </ng-template>
                </p-cellEditor>

              </td>

              <td  *ngIf="col.id>=0 && col.id<27">

                {{getValueOfligneCommande(col,lineCommande)}}
              </td>

            </ng-container>


            <td>
              <div class="flex align-items-center gap-2" >
<!--                <div class="flex align-items-center justify-content-center gap-2">-->
<!--                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(lineCommande)" class="p-button-rounded p-button-success mr-2"></button>-->
<!--                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(lineCommande)" class="p-button-rounded p-button-text p-button-success mr-2"></button>-->
<!--                </div>-->
                <div >
<!--                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteLineCommande(lineCommande)"></button>-->
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <h1>Tatal: {{TotalHarv}}</h1>

    </div>








    <ng-template pTemplate="footer">

    <div class="modal-footer-btn">
      <p-button icon="pi pi-file-pdf" (click)="savePdfDetails()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>
      <p-button icon="pi pi-cancel" (click)="cancel()" class="text-green-50" label="Cancel"  ></p-button>

    </div>
    </ng-template>

  </p-dialog>
</div>



