<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" keep pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" keep pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedAnalysesPhysiques()" [disabled]="!selectedCommandes || !selectedCommandes.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllCommandes()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <div class="card">
        <p-toast/>
        <p-steps
          [model]="itemsData"
          [readonly]="false"
          [activeIndex]="activeIndex"


          (activeIndexChange)="onActiveIndexChange($event)" />
      </div>
      <div class="flex align-items-center justify-content-around  mb-5 w-full border  border-2 p-3 border-round border-gray-200 bg-blue-50">
        <div class=" ">
        <label class="font-bold mr-4">Filtre By Stock :</label>
        <p-dropdown [options]="stockOrders" [(ngModel)]="stockSelected" [editable]="true" optionLabel="nom" class="w-full" (ngModelChange)="filtreByStock(stockSelected)"></p-dropdown>
        </div>
        <div class="">
          <label class="font-bold mr-4">Volume Availble :</label>
          <label class="font-bold ">{{VolumeAvailble}}</label>
        </div>
      </div>

      <p-table #dt [loading]="loading" [value]="commandes" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nom','etat','dateCommande']" [paginator]="true" [rowsPerPageOptions]="[10,20,30,200,500]" [showCurrentPageReport]="true" currentPageReportTemplate="Display from {first} to {last} of {totalRecords} items" [(selection)]="selectedCommandes" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Order List </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="dateCommande">Date creation<p-sortIcon field="dateCommande"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="Customer">Customer <p-sortIcon field="Customer"></p-sortIcon></th>
            <th pSortableColumn="Laycan">Laycan <p-sortIcon field="Laycan"></p-sortIcon></th>
            <th pSortableColumn="Purchase">Purchase Order <p-sortIcon field="Purchase"></p-sortIcon></th>
            <th pSortableColumn="analysereference">Analyse Reference <p-sortIcon field="analysereference"></p-sortIcon></th>
            <th pSortableColumn="departureDate">Departure Date <p-sortIcon field="departureDate"></p-sortIcon></th>
            <th pSortableColumn="Volume">Total Volume<p-sortIcon field="Volume"></p-sortIcon></th>
            <th pSortableColumn="Calibre">Calibre <p-sortIcon field="Calibre"></p-sortIcon></th>
            <th pSortableColumn="etat">Status<p-sortIcon field="etat"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-commande >
          <tr [ngClass]="{'bg-green-300 text-white' : verifyState(commande)==true && getToken()=='ADMIN' }">
            <td>
              <p-tableCheckbox [value]="commande"></p-tableCheckbox>

            </td>
            <td >
              <span class="p-column-title">ID</span>
              {{commande.id}}
            </td>
            <td >
              <span class="p-column-title">ID</span>
              {{commande.dateCommande | date :'dd-MM-yyyy'}}
            </td>
            <td >
              <span class="p-column-title">Nom</span>
              {{commande.nom}}
            </td> <td >
              <span class="p-column-title">Customer</span>
              {{commande.customer}}
            </td> <td >
              <span class="p-column-title">Laycan</span>
              {{commande.laycan}}
            </td>
            <td >
              <span class="p-column-title">Purchase Order</span>
              {{commande.purchaseOrder}}
            </td>
            <td >
              <span class="p-column-title">Analyse Reference</span>
              <span class="cursor-pointer underline text-blue-700"(click)="OpenReferenceDialoge(commande)" >{{commande.analyseReference}}</span>
            </td>
            <td >
              <span class="p-column-title">Departure Date</span>
              {{commande.departureDate| date :'dd-MM-yyyy'}}
            </td>
            <td >
              <span class="p-column-title">Total Volume</span>
              {{CalculeTotalVolume(commande)}}
            </td>
            <td >
              <span class="p-column-title">Volume Availble</span>
              {{commande.calibre}}
            </td>
            <td >
              <span class="p-column-title">Etat</span>
              {{commande.etat}}
            </td>
            <td >
              <div *ngIf="getToken()=='ADMIN'"   class="flex justify-content-end mr-8">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCommande(commande)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteCommande(commande)"></button>

              </div>
              <div *ngIf="getToken()!=='ADMIN'"   class="flex justify-content-end mr-8">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary mr-2" (click)="editCommande(commande)"></button>

               </div>

            </td>
          </tr>
          <p-dialog [(visible)]="referenceDialoge" [style]="{width: '1300px'}"  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <h3>More Details</h3>

              <div class=" flex justify-content-end mb-4">
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="SavePDF();" class="mr-2 p-button-secondary"
                        pTooltip="PDF" tooltipPosition="bottom"></button>


<!--&lt;!&ndash;                  <label class="font-bold"> Choose Calibre : </label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p-dropdown [disabled]="getToken()!=='ADMIN'"&ndash;&gt;-->
<!--&lt;!&ndash;                              [options]="listcalibre"&ndash;&gt;-->
<!--&lt;!&ndash;                              [(ngModel)]="selectedColumnsCalibre"&ndash;&gt;-->
<!--&lt;!&ndash;                              optionLabel="header"&ndash;&gt;-->
<!--&lt;!&ndash;                              placeholder="{{selectedColumnsCalibre!==undefined?selectedColumnsCalibre.header:'0'}}"&ndash;&gt;-->

<!--&lt;!&ndash;                              (ngModelChange)="caliber(selectedColumnsCalibre)"&ndash;&gt;-->
<!--&lt;!&ndash;                  />&ndash;&gt;-->
<!--&lt;!&ndash;                  <div *ngIf="isUpdateCommande" >Calibre of Command: {{commande.calibre!==undefined?commande.calibre:'no calibre selected '}}</div>&ndash;&gt;-->
<!--                </div>-->



              </div>
              <div class="card" >


                <p-table
                  [rowHover]="true"
                  [lazy]="true"
                  [columns]="selectedColumns"
                  [value]="listeLignesCommandes"
                  [scrollable]="true"
                  scrollHeight="600px"
                  [tableStyle]="{'min-width': '50rem'}"
                  styleClass="p-datatable-gridlines"
                  selectionMode="single"
                  [(selection)]="selectedProduct"
                  editMode="row"
                  id="EXCEL"
                  #EXCEL

                >
                  <ng-template pTemplate="caption">

                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <ng-container *ngFor="let col of columns" >
                        <th >  {{col.header}}  </th>
                      </ng-container>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-lineCommande let-columns="columns" >
                    <tr [pEditableRow]="lineCommande" [pSelectableRow]="lineCommande"  >
                      <ng-container *ngFor="let col of columns">

                        <td *ngIf="col.id>28 && col.id<42">
                          {{getValueOfligneCommande(col,lineCommande)}}
                        </td>

                        <td *ngIf="col.id>=0 && col.id<29 || col.id== 42" >
                          {{getValueOfligneCommande(col, lineCommande)}}
                        </td>

                      </ng-container>


                    </tr>


                  </ng-template>
                </p-table>

              </div>
            </ng-template>




            <ng-template pTemplate="footer">
              <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="referenceDialoge=false"></button>
            </ng-template>
          </p-dialog>

        </ng-template>
      </p-table>
    </div>



    <p-dialog [(visible)]="deleteProductDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span >Are you sure you want to delete ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected commands</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>



<p-dialog header="Loading PDF Command" [(visible)]="visibleCommande" [style]="{ width: '80vw', maxWidth: '300vw' }">
  <div id="headerpages">
    <div class=" flex flex-column">
      <div class="flex   border-1 w-full justify-content-between">
        <div class="flex-initial flex align-items-center justify-content-center   font-bold m-2 px-5 py-3 border-round">
          <img src="./assets/logo.png" >
        </div>
        <div class="flex-initial flex align-items-center justify-content-center  text-6xl font-bold m-2 px-5 py-3 border-round">
          Daily monitoring of analyses for the order

        </div>
        <div class="flex-initial border-1 flex     w-25  font-bold m-2 px-5 py-3  ">
          <div class="col   ">
            <div class="row  mb-2    w-full  ">BEN GUERDANE, TUNISIA  </div>
            <div class="row mb-2   w-full text-center    text-1xl font-bold  pi pi-calendar ">
              {{pipedate(datenow)}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</p-dialog>



