<div class="grid">
  <div class="col-12 card px-6 py-6 ">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="end">
        <div class=" my-2 ">
          <button pButton pRipple label="Retour" icon="pi pi-arrow-left" class="p-button-success mr-2 "
                  (click)="retour()"></button>
        </div>
      </ng-template>
      <h4>Ajouter Fiche de Vie</h4>
    </p-toolbar>
    <div class="flex flex-column  mt-8 border-1 border-round border-gray-300 p-6 gap-8  ">
      <div class="  flex    justify-content-between  ">


        <p-floatLabel>
          <div class="flex flex-column">
            <input type="text" pInputText id="societe" [(ngModel)]="ficheVie.societe" [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheVie.societe}"/>
            <label>Societé</label>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !ficheVie.societe">Societé est requis.</small>
          </div>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText id="Designation" [(ngModel)]="ficheVie.designation"/>
          <label>Designation</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText id="Code" [(ngModel)]="ficheVie.code"/>
          <label>Code</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText id="Serie" [(ngModel)]="ficheVie.serie"/>
          <label>Serie</label>
        </p-floatLabel>
      </div>
      <div class="flex justify-content-between  align-items-center">
        <div class="flex flex-column gap-4">
          <p-floatLabel>
            <p-calendar id="dateReception" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="ficheVie.dateReception"></p-calendar>
            <label for="dateReception">Date de reception</label>
          </p-floatLabel>
          <p-floatLabel>
            <input type="text" pInputText id="marque" class="w-full" [(ngModel)]="ficheVie.marque"/>
            <label>Marque</label>
          </p-floatLabel>
        </div>
        <div class="flex flex-column gap-4 ">
          <p-floatLabel>
            <input type="text" pInputText id="etalonage" class="w-full" [(ngModel)]="ficheVie.etalonnage"/>
            <label>Etalonage</label>
          </p-floatLabel>
          <p-floatLabel>
            <input type="text" pInputText id="verification" class="w-full" [(ngModel)]="ficheVie.verification"/>
            <label>Verification</label>
          </p-floatLabel>
        </div>
          <div class="flex flex-column gap-4">
            <label for="emplacement" class="ml-2 font-bold" id="emplacement">Emplacment</label>

            <div class="flex  gap-4 " >
              <div class="flex align-items-center">
                <p-radioButton name="fiche" value="ParcMantenence" [(ngModel)]="ficheVie.emplacement" Id="ingredient5"></p-radioButton>
                <label for="ingredient5" class="ml-2">Parc Maintenence</label>
              </div>

              <div class="flex align-items-center">
                <p-radioButton name="fiche" value="Laboratoire" [(ngModel)]="ficheVie.emplacement" Id="ingredient2"></p-radioButton>
                <label for="ingredient2" class="ml-2">Laboratoire</label>
              </div>
            </div>
          </div>

          <div class="flex flex-column gap-4">
            <label for="fiche" class="ml-2 font-bold" Id="fiche" >Etat de fiche</label>

            <div class="flex  gap-4 " >
            <div class="flex align-items-center ">
              <p-radioButton name="pizza" value="ARCHIVE" [(ngModel)]="ficheVie.etatFiche" Id="ingredient3"></p-radioButton>
              <label for="ingredient3" class="ml-2">Archivé</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton name="pizza" value="MISEENSERVICE" [(ngModel)]="ficheVie.etatFiche" Id="ingredient4"></p-radioButton>
              <label for="ingredient4" class="ml-2">Mise en service</label>
            </div>

          </div>

        </div>
<!--        </div>-->
      </div>
<div>
      <div class=" flex col-12 justify-content-end ">
        <button pButton label="Ajouter Intervention" icon="pi pi-plus" class="p-button-success " (click)="showDialog()"></button>
      </div>

      <p-dialog [(visible)]="visibale" [style]="{width: '450px'}" header="Ajouter Intervention" [modal]="true" class="p-fluid">

        <div class="  flex flex-column gap-4 ">

            <p-floatLabel>
              <p-calendar id="dateintervention" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="intervention.dateintervention" [ngClass]="{'ng-invalid ng-dirty' : submitted && !intervention.dateintervention}"></p-calendar>
              <label for="dateReception">Date de Intervention</label>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !intervention.dateintervention">Date est requis.</small>

            </p-floatLabel>
            <p-floatLabel>
              <input type="text" pInputText id="certificat" class="w-1/2 " [(ngModel)]="intervention.certificat"/>
              <label>Certificat</label>
            </p-floatLabel>



            <p-floatLabel>
              <input type="text" pInputText id="qui" [(ngModel)]="intervention.qui"/>
              <label>Qui</label>
            </p-floatLabel>
            <p-floatLabel>
              <input type="text" pInputText id="nomVisa" class="w-full " [(ngModel)]="intervention.nomVisa"/>
              <label>Nom de visa</label>
            </p-floatLabel>




            <p-floatLabel>
              <input type="text" pInputText id="natureAction" class="" [(ngModel)]="intervention.natureAction"/>
              <label>Nature Action</label>
            </p-floatLabel>
            <p-floatLabel>
              <input type="text" pInputText id="observation" class="w-full " [(ngModel)]="intervention.observation"/>
              <label>Observation</label>
            </p-floatLabel>



            <p-floatLabel>
              <input type="text" pInputText id="resultat" class="" [(ngModel)]="intervention.resultat"/>
              <label>Resultat</label>
            </p-floatLabel>


        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveIntervention()"></button>
        </ng-template>

      </p-dialog>
      <p-table #dt [value]="listeInterventions" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','dateintervention','qui','natureAction','resultat','certificat','nomVisa','observation']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedIntervention" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des fiches de vie</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="dateintervention">date Intervention <p-sortIcon field="dateintervention"></p-sortIcon></th>
            <th pSortableColumn="qui">Qui <p-sortIcon field="qui"></p-sortIcon></th>
            <th pSortableColumn="natureAction">nature Action <p-sortIcon field="natureAction"></p-sortIcon></th>
            <th pSortableColumn="resultat">Resultat<p-sortIcon field="resultat"></p-sortIcon></th>
            <th pSortableColumn="certificat">Certificat <p-sortIcon field="certificat"></p-sortIcon></th>
            <th pSortableColumn="nomVisa">Nom Visa <p-sortIcon field="nomVisa"></p-sortIcon></th>
            <th pSortableColumn="observation">Observation <p-sortIcon field="observation"></p-sortIcon></th>
<th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-intervention >
          <tr >

            <td style="width:14%; min-width:10rem;"><span class="p-column-title" >date Intervention</span>
              {{intervention.dateintervention | date: "yyyy-MM-dd"}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Qui</span>
              {{intervention.qui}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Nature Action</span>
              {{intervention.natureAction}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Resultat</span>
              {{intervention.resultat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Certificat</span>
              {{intervention.certificat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Nom Visa</span>
              {{intervention.nomVisa}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Observation</span>
              {{intervention.observation}}
            </td>

              <div class="flex " >
                <button *ngIf="isUpdateFichVie"  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editIntrvention(intervention)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteIntervention(intervention)"></button>
              </div>

          </tr>
        </ng-template>
      </p-table>
</div>
    </div>
    <div class=" flex col-12 justify-content-end " >
      <button pButton label="Enregisrer fiche vie" icon="pi pi-check" class=" " (click)="saveFicheVie()"></button>
    </div>
  </div>


</div>
