<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedBandes()" [disabled]="!selectedBandes || !selectedBandes.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getBande()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="bandes" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','state','totalquantite','refusalquantite','Sbnl']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedBandes" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Band Inventory Management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Date Stock<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="state">State <p-sortIcon field="state"></p-sortIcon></th>
            <th pSortableColumn="totalquantite">Total Quantity<p-sortIcon field="totalquantite"></p-sortIcon></th>
            <th pSortableColumn="refusalquantite">Quantity Refusal<p-sortIcon field="refusalquantite"></p-sortIcon></th>
            <th pSortableColumn="Sbnl">Unwashed Stock <p-sortIcon field="Sbnl"></p-sortIcon></th>


            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-b >
          <tr >
            <td>
              <p-tableCheckbox [value]="b"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{b.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{b.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{b.description}}

            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Date Stock</span>
              {{b.dateStock| date :'dd-mm-yyyy'}}
            </td>


            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">State</span>
              {{b.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Total Quantity</span>
              {{b.quantite}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Quantity Refusal</span>
              {{b.quantiteRefus}}
            </td>
            <td style="width:14%; min-width:8rem;" class="surface-overlay       ">
              <span class="p-column-title">Sbnl</span>
              {{b.bandeSbnl?.reference }}
              <span class="pi pi-eye text-primary cursor-pointer m-2" (click)="opSBNL.toggle($event)"  ></span>
              <p-overlayPanel #opSBNL>
                <label class="text-2xl">Réf : {{b.bandeSbnl?.reference}}</label><br>
                <label class="text-2xl">Description : {{b.bandeSbnl?.description}}
                </label ><br>
                <label class="text-2xl">State : {{b.bandeSbnl?.etat}}</label><br>
                <label class="text-2xl">Quantity : {{b.bandeSbnl?.quantite}}</label><br>
                <label class="text-2xl">Location : {{b.bandeSbnl?.emplacement}}</label><br>
              </p-overlayPanel>

              <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                  <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                  <span *ngIf="bande">Are you sure you want to delete<b>{{bande.reference}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                  <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                  <button  *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(b)"></button>
                </ng-template>
              </p-dialog>

            </td>
            <td>
              <div class="flex ">
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBande(b)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteBande()"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(b)"></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Bande" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Sbnl</label>
          <p-dropdown [options]="sbnls" [(ngModel)]="bande.bandeSbnl" [editable]="true" optionLabel="reference" class="w-full"></p-dropdown>
        </div>
        <div class="field">
          <label for="name">Reference</label>
          <input type="text" pInputText id="name"  [(ngModel)]="bande.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bande.reference}"/>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="bande.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bande.description}"/>
        </div>

        <div class="field">
          <label for="dateCreation">Date Stock</label>
          <input  class="p-2 shadow-1" type="date" pInputText id="dateCreation"  [(ngModel)]="bande.dateStock"  />

        </div>


        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="bande.etat" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bande.etat}"/>
        </div>
        <div class="field">
          <label for="quantite">Total Quantity</label>
          <p-inputNumber Id="quantite" mode="decimal" [minFractionDigits]="3" [(ngModel)]="bande.quantite"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !bande.quantite}" ></p-inputNumber>
        </div>
        <div class="field">
          <label for="quantiterefus">Quantity Refusal</label>
          <p-inputNumber Id="quantiterefus"  mode="decimal"  [(ngModel)]="bande.quantiteRefus"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !bande.quantiteRefus}"></p-inputNumber>
        </div>

      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text" (click)="saveBande()"></button>
      </ng-template>
    </p-dialog>



    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you really want to delete selected?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


<p-dialog header="Chemical and particle size analysis" [(visible)]="visiblePrint" [modal]="true"    [style]="{width: '100%'}">
  <div class="shadow-1 p-2  " >chemical filtration  :

    <div class="card flex justify-content-evenly ">
      <div class="gap-1 flex align-items-center">Analysis start date  :<p-calendar [(ngModel)]="DatefiltrageStart"  ></p-calendar>
      </div>
      <div class="gap-1    flex align-items-center">
        Date End Analysis  :<p-calendar [(ngModel)]="DatefiltrageEnd"  ></p-calendar>
      </div>
      <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Search"></p-button>
      <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-refresh" label="Refresh"></p-button>

    </div>
    <div class="shadow-1 p-2 overflow-auto">
      <p-checkbox [(ngModel)]="SelectAll" (ngModelChange)="SelectAllCheck()" [binary]="true" inputId="binary" class="text-primary" label="All"></p-checkbox>

      <th *ngFor="let c of colsfiltre">

        <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

      </th>
    </div>
    <br>
    <div class="shadow-1 p-2 gap-1 text-3xl flex inline-flex justify-content-evenly" >filtrate Grain size  :<br>
      <p-listbox [options]="selectedBande.analysesPhysiques!==undefined?selectedBande.analysesPhysiques:[]" [(ngModel)]="SelectedBandePrintAnalyse" optionLabel="reference" [filter]="true" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}"></p-listbox>
      <div  class="p-2">
        <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedBandePrintAnalyse.dateAnalyse}}</span><br>
        <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedBandePrintAnalyse.matiere}}</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedBandePrintAnalyse.temperature}} °C</span><br>
      </div>
    </div>
  </div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">
    <img src="assets/layout/images/logo.png">
    <div class="row justify-content-end font-bold flex text-1xl"> Creation date: <span class=" text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd"}}</span></div>
    <div class="row    font-bold flex text-1xl   "> Identification :<span class=" text-1xl font-bold   "> {{selectedBande.reference}}</span></div>

    <div class="row   text-8xl font-bold text-center m-2 p-3" > Analysis Report </div>
    <div class="mt-5 mb-5">

      <label class="font-bold text-5xl  ">Chemical analysis</label>
      <br><br><br><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{selectedBande.reference}}</span><br>
      <label class="text-2xl font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{selectedBande.dateStock|date :'dd-MM-yyyy'}}</span><br>

    </div>

    <p-table #dt1 [value]="getAnalyse()" [tableStyle]="{ 'min-width': '50rem' }"
             dataKey="id" id="EXCEL"
             [showCurrentPageReport]="true"
             [globalFilterFields]="['dateAnalyse']"



    >


      <ng-template pTemplate="header">
        <tr>

          <ng-container *ngFor="let c of getColsfiltr()">
            <th>{{ c.header }}</th>
          </ng-container>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
        <tr>


          <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>
          <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
          <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
          <td *ngIf="colsfiltre[4].hide">{{ a.humidite==undefined?'-':a.humidite }}</td>
          <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
          <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
          <td *ngIf="colsfiltre[7].hide">{{ a.salinite ==undefined?'-':a.salinite}}</td>
          <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
          <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
          <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
          <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
          <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
          <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
          <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
          <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
          <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
          <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>

        </tr>
      </ng-template>
    </p-table>
    <br><br><br><br>

    <label class="font-bold top-5 text-5xl">Grain Size</label>
    <br><br><br><br>
    <div class=" top-5 bottom-5">
      <label class="text-2xl font-bold">Date   :</label><span class="ml-2 text-2xl">{{SelectedBandePrintAnalyse.dateAnalyse}}</span><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedBandePrintAnalyse.reference}}</span><br>
      <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedBandePrintAnalyse.matiere}}</span><br>
      <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedBandePrintAnalyse.temperature}} °C</span><br>
    </div>
    <br><br><br>
    <p-table class=" " #dt [value]="getTamisFiltred()" [columns]="cols"  responsiveLayout="scroll"    id ="TAMIS"     dataKey="id">

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="dateintervention">Calibre <p-sortIcon field="dateintervention"></p-sortIcon></th>
          <th pSortableColumn="qui">Weight <p-sortIcon field="qui"></p-sortIcon></th>
          <th pSortableColumn="natureAction">Refus <p-sortIcon field="natureAction"></p-sortIcon></th>
          <th pSortableColumn="resultat">Refus Cumulated<p-sortIcon field="resultat"></p-sortIcon></th>
          <th pSortableColumn="certificat">pass Cumulated <p-sortIcon field="certificat"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td >
            {{tamis.calibre}}
          </td>
          <td>

            {{tamis.masse}}
          </td>
          <td >

            {{tamis.refus}}


          </td>


          <td >

            {{tamis.refusCumulated}}
          </td>
          <td>

            {{tamis.passCumulated}}
          </td>





        </tr>
      </ng-template>
    </p-table>



  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>
    <button type="button" pButton pRipple  icon="pi pi-file-excel" (click)="ExportExcel()" class="p-button-success" label="EXCEL" pAutoFocus [autofocus]="true"  ></button>
    <button type="button" pButton pRipple icon="pi pi-file" (click)="exportcsv()" class="p-button-warning " label="CSV" pTooltip="CSV" ></button>

  </ng-template>
</p-dialog>

