<div class="grid">
  <div class="col-12 card px-6 py-6 ">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="end">
        <div class=" my-2 ">
          <button pButton pRipple label="Retour" icon="pi pi-arrow-left" class="p-button-success mr-2 "
                  (click)="retour()"></button>
        </div>
      </ng-template>
      <h4>Ajouter Inventaire</h4>
    </p-toolbar>
    <div class="flex flex-column  mt-8 border-1 border-round border-gray-300 p-6 gap-8  ">
      <div class="  flex    justify-content-between  ">


        <p-floatLabel>
          <input type="text" pInputText id="reference" [(ngModel)]="inventaire.reference"/>
          <label>reference</label>
        </p-floatLabel>
        <p-floatLabel>
          <p-calendar id="dateReception" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="inventaire.dateInventaire" ></p-calendar>
          <label for="dateReception">Date Inventaire</label>
        </p-floatLabel>


      </div>
      <div class="flex justify-content-between  align-items-center">





      </div>
      <div>
        <div class=" flex col-12 justify-content-end ">
          <button pButton label="Ajouter Produits" icon="pi pi-plus" class="p-button-success " (click)="showDialog()"></button>
        </div>

        <p-dialog [(visible)]="visibale" [style]="{width: '1500px'}" header="Ajouter Produits"  [modal]="true" class="p-fluid">

          <div class="card">
            <p-pickList [source]="sourceProduits" [target]="targetProduits" sourceHeader="Stock" targetHeader="Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '150rem' }"
                        [targetStyle]="{ height: '30rem' }" filterBy="nom" sourceFilterPlaceholder="Recherche par nom" targetFilterPlaceholder="Recherche par nom" breakpoint="1400px">
              <ng-template let-product pTemplate="item">
                <div class="flex flex-column gap-3 mt-4">
                  <div class="flex align-items-center justify-content-between">
                    <span class="font-bold">{{ product.nom }}</span>
                    <div class="w1/3">
                      <p-floatLabel>
                      <input  type="text" pInputText [(ngModel)]="product.quantite" />
                        <label>Quantité </label>
                      </p-floatLabel>
                    </div>
                  </div>
                  <div class="flex-1 flex flex-column gap-2">


                    <div class="flex align-products-center gap-2">
                      <i class="pi pi-tag text-sm"></i>
                      <span>{{ product.article.nom }}</span>

                    </div>
                  </div>
<!--                  <span class="font-bold text-900">{{ '$' + product.price }}</span>-->
                </div>
              </ng-template>
            </p-pickList>
          </div>



<!--          <div class="  flex flex-column gap-4 ">-->

<!--            <p-floatLabel>-->
<!--              <p-calendar id="dateintervention" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="intervention.dateintervention"></p-calendar>-->
<!--              <label for="dateReception">Date de Intervention</label>-->
<!--            </p-floatLabel>-->
<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="certificat" class="w-1/2 " [(ngModel)]="intervention.certificat"/>-->
<!--              <label>Certificat</label>-->
<!--            </p-floatLabel>-->



<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="qui" [(ngModel)]="intervention.qui"/>-->
<!--              <label>Qui</label>-->
<!--            </p-floatLabel>-->
<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="nomVisa" class="w-full " [(ngModel)]="intervention.nomVisa"/>-->
<!--              <label>Nom de visa</label>-->
<!--            </p-floatLabel>-->




<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="natureAction" class="" [(ngModel)]="intervention.natureAction"/>-->
<!--              <label>Nature Action</label>-->
<!--            </p-floatLabel>-->
<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="observation" class="w-full " [(ngModel)]="intervention.observation"/>-->
<!--              <label>Observation</label>-->
<!--            </p-floatLabel>-->



<!--            <p-floatLabel>-->
<!--              <input type="text" pInputText id="resultat" class="" [(ngModel)]="intervention.resultat"/>-->
<!--              <label>Resultat</label>-->
<!--            </p-floatLabel>-->


<!--          </div>-->
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduitClacule()"></button>
          </ng-template>

        </p-dialog>
        <p-table #dt [value]="targetProduits" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nom','qui','quantite','designation','reference','article','produitDefectueux']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedProduit" selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Inventaire des instruments</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <th pSortableColumn="nom">nom <p-sortIcon field="nom"></p-sortIcon></th>
              <th pSortableColumn="quantite">quantite <p-sortIcon field="quantite"></p-sortIcon></th>
              <th pSortableColumn="designation">designation <p-sortIcon field="designation"></p-sortIcon></th>
              <th pSortableColumn="reference">reference<p-sortIcon field="reference"></p-sortIcon></th>
              <th pSortableColumn="article">article <p-sortIcon field="article"></p-sortIcon></th>
              <th pSortableColumn="nouveauQantite">Nouveau Qantité <p-sortIcon field="nouveauQantite"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-produit >
            <tr >

              <td style="width:14%; min-width:10rem;"><span class="p-column-title" >date Intervention</span>
                {{produit.nom }}
              </td>
              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Qui</span>
                {{produit.quantite}}
              </td>
              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Nature Action</span>
                {{produit.designation}}


              </td>


              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Resultat</span>
                {{produit.reference}}
              </td>
              <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">Certificat</span>
                {{produit.article.nom}}
              </td>
              <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">Nom Visa</span>
                {{produit.quantite}}
              </td>


              <div class="flex " >
                <button *ngIf="isUpdateInventaire"  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editIntrvention(produit)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteIntervention(produit)"></button>
              </div>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class=" flex col-12 justify-content-end " >
      <button pButton label="Enregisrer l'inventaire" icon="pi pi-check" class=" " (click)="saveInventaire()"></button>
    </div>
  </div>


</div>
