<div class="grid">
  <div class="col-12 card px-6 py-6 ">
    <p-toolbar styleClass="mb-4" >
      <ng-template pTemplate="end"  >
        <div class=" my-2 " >

          <button pButton pRipple label="Retour" icon="pi pi-arrow-left" class="p-button-success mr-2 " (click)="retour()"></button>
        </div>
      </ng-template>
      <h4>Ajouter Analyse Physique</h4>
    </p-toolbar>
    <div class=" flex justify-content-between  mt-8 border-1 border-round border-gray-300 p-6  h-22rem">
      <div class="  flex flex-column   justify-content-between ">
        <p-floatLabel >
          <p-calendar   id="dateCreation" [(ngModel)]="analysesPhysique.dateAnalyse" dateFormat="yy-MM-dd"  [showIcon]="true"></p-calendar>
          <label for="dateCreation">Date Creation</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.reference" id="Reference" class="w-full"  />
          <label >Reference</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.qualite"    id="Qualite" class="w-full" />
          <label >Qualite</label>
        </p-floatLabel>
      </div>
      <div class=" flex flex-column  justify-content-between">


        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.conformite"  id="conformite" />
          <label >Conformite</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.matiere"  id="matiere" placeholder="Exp saumure , sel ..." class="w-full" />
          <label >Matiére</label>


        </p-floatLabel>
      </div>
      <div class="  ">

        <p-tabView *ngIf="!isUpdateAnalysePhysique"[scrollable]="true" >

          <p-tabPanel header="Bassin" >
            <p-listbox [options]="bassins" [(ngModel)]="selectedBassin" optionLabel="nom" [filter]="true" [listStyle]="{'height': '87px'}"  ></p-listbox>

          </p-tabPanel>
          <p-tabPanel header="Sotck non lavé" pTooltip="Sotck non lavé">
            <p-listbox [options]="sbnls" [(ngModel)]="selectedSbnl" optionLabel="reference" [filter]="true" [listStyle]="{'height': '87px'}"  ></p-listbox>

          </p-tabPanel>
          <p-tabPanel header="Bande" pTooltip="Sotck non lavé">
            <p-listbox [options]="bandes" [(ngModel)]="selectedBande" optionLabel="reference" [filter]="true" [listStyle]="{'height': '87px'}"  ></p-listbox>

          </p-tabPanel>

          <p-tabPanel header="Sotck lavé" >
            <p-listbox [options]="sbls" [(ngModel)]="selectedSbl" optionLabel="reference" [filter]="true" [listStyle]="{'height': '87px'}" ></p-listbox>

          </p-tabPanel>

          <p-tabPanel header="Sotck finale" >
            <p-listbox [options]="sblfs" [(ngModel)]="selectedSblf" optionLabel="reference" [filter]="true"  [listStyle]="{'height': '87px'}" ></p-listbox>

          </p-tabPanel>
        </p-tabView>
        <div >
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="isUpdateAnalysePhysique&&selectedBassin">
            <p class="font-bold">
              Bassin
            </p>
            <div class="flex flex-column ">

              <p><span class="font-bold"> Reference: </span>{{selectedBassin.reference}}</p>
              <p><span class="font-bold"> Nom: </span>{{selectedBassin.nom}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details de Bassin" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedBassin.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedBassin.description}}</p>
                </div><div class="field">
                <p><span class="font-bold"> Nom: </span>{{selectedBassin.nom}}</p>
              </div>
                <div class="field">
                  <p><span class="font-bold"> Emplacement: </span>{{selectedBassin.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Etat: </span>{{selectedBassin.etat}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Date de Creation: </span>{{selectedBassin.dateCreation}}</p>
                </div>

              </ng-template>

            </p-dialog>
          </div>

          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="isUpdateAnalysePhysique&&selectedSbnl">
            <p class="font-bold">
              Sbnl
            </p>
            <div class="flex flex-column ">

              <p><span class="font-bold"> Reference: </span>{{selectedSbnl.reference}}</p>
              <p><span class="font-bold">  Emplacement: </span>{{selectedSbnl.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details de Sbnl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedBassin.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Emplacement: </span>{{selectedSbnl.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSbnl.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantite: </span>{{selectedSbnl.quantite}}</p>
                </div>

                <div class="field">
                  <p><span class="font-bold"> Etat: </span>{{selectedSbnl.etat}}</p>
                </div>

              </ng-template>
            </p-dialog>
          </div>

          <!--          =========-->

          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="isUpdateAnalysePhysique&&selectedBande">
            <p class="font-bold">
              Bande
            </p>
            <div class="flex flex-column ">

              <p><span class="font-bold"> Reference: </span>{{selectedBande.reference}}</p>
              <p><span class="font-bold">  Etat: </span>{{selectedBande.etat}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details de Sbnl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedBande.reference}}</p>
                </div>

                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedBande.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Etat: </span>{{selectedBande.etat}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantite Totale: </span>{{selectedBande.quantite}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantite Refus: </span>{{selectedBande.quantiteRefus}}</p>
                </div>


              </ng-template>
            </p-dialog>
          </div>

          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="isUpdateAnalysePhysique&&selectedSbl">
            <p class="font-bold">
              Sbl
            </p>
            <div class="flex flex-column ">
              <p><span class="font-bold"> Reference: </span>{{selectedSbl.reference}}</p>
              <p><span class="font-bold">  Emplacement: </span>{{selectedSbl.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>
            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details de Sbl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedSbl.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Emplacement: </span>{{selectedSbl.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSbl.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantite: </span>{{selectedSbl.quantite}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Etat: </span>{{selectedSbl.etat}}</p>
                </div>
              </ng-template>
            </p-dialog>
          </div>
          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="isUpdateAnalysePhysique&&selectedSblf">
            <p class="font-bold">
              Sblf
            </p>
            <div class="flex flex-column ">
              <p><span class="font-bold"> Reference: </span>{{selectedSblf.reference}}</p>
              <p><span class="font-bold">  Emplacement: </span>{{selectedSblf.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>
            </div>

            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details de Sblf" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedSblf.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Emplacement: </span>{{selectedSblf.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSblf.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantite: </span>{{selectedSblf.quantite}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Etat: </span>{{selectedSblf.etat}}</p>
                </div>
              </ng-template>
            </p-dialog>
          </div>
          <!--          =========-->
        </div>
      </div>


    </div>

    <div class=" flex col-12 justify-content-end mt-6 ">
      <button pButton label="Ajouter Tamis" icon="pi pi-plus" class="p-button-success " (click)="ajouterTamis()"></button>
    </div>

    <p-dialog [(visible)]="visibale" [style]="{width: '450px'}" header="Ajouter Tamis" [modal]="true" class="p-fluid">

      <div class="  flex flex-column gap-4 ">

        <p-floatLabel>
          <p-inputNumber id="certificat" class="w-1/2 " [(ngModel)]="tamis.calibre"  mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>
          <label>Calibre</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-inputNumber id="qui" [(ngModel)]="tamis.masse"   mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>
          <label>Masse</label>
        </p-floatLabel>

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="nomVisa" class="w-full " [(ngModel)]="tamis.refus" mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Refus</label>-->
<!--        </p-floatLabel>-->

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="natureAction" class="" [(ngModel)]="tamis.refusCumulated" mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Refus Cumulated</label>-->
<!--        </p-floatLabel>-->

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="observation" class="w-full " [(ngModel)]="tamis.passCumulated"  mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Pass Cumulated</label>-->
<!--        </p-floatLabel>-->



      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveTamis()"></button>
      </ng-template>

    </p-dialog>
    <p-table #dt [value]="listeTamis" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['calibre']" [paginator]="true" [rowsPerPageOptions]="[10,20,30,100,200]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedIntervention" selectionMode="multiple" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
          <h5 class="m-0">Gestion des fiches de vie</h5>
          <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th >Calibre </th>
          <th >Masse </th>
          <th >Refus </th>
          <th >Refus Cumulated</th>
          <th >pass Cumulated </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td ><span class="p-column-title" >Calibre</span>
            {{tamis.calibre}}
          </td>
          <td>
            <span class="p-column-title">Masse</span>
            {{tamis.masse}}
          </td>
          <td >
            <span class="p-column-title">Refus</span>
            {{tamis.refus}}


          </td>


          <td >
            <span class="p-column-title">Refus Cumulated</span>
            {{tamis.refusCumulated}}
          </td>
          <td>
            <span class="p-column-title">pass Cumulated</span>
            {{tamis.passCumulated}}
          </td>



          <div class="flex ">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTamis(tamis)"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="editTamis(tamis)"></button>
          </div>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class=" flex col-12 justify-content-end">
  <button pButton label="Calculer" icon="pi pi-check" class=" " (click)="calculateTamis()"></button>
</div>
    <!---->
    <div class=" flex col-12 justify-content-end">
      <button pButton label="Enregisrer" icon="pi pi-check" class=" " (click)="saveAnalysePhysique()"></button>
    </div>





