<div class="grid">
  <div class="col-12 card px-6 py-6 ">
    <p-toolbar styleClass="mb-4" >
      <ng-template pTemplate="end"  >
        <div class=" my-2 " >

          <button pButton pRipple label="Back" icon="pi pi-arrow-left" class="p-button-success mr-2 " (click)="retour()"></button>
        </div>
      </ng-template>
      <h4>{{isUpdateAnalysePhysique?'Update':'Add'}} Physical Analysis</h4>
    </p-toolbar>
    <div class=" flex justify-content-between  mt-8 border-1 border-round border-gray-300 p-6   ">
      <div class="  flex flex-column  gap-5    ">
        <p-floatLabel >
          <input  class="p-2 shadow-1 w-full" type="date" pInputText id="dateCreation" dateFormat="yy-mm-dd"   [(ngModel)]="analysesPhysique.dateAnalyse"  />

          <label for="dateCreation">Creation Date</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.reference" id="Reference" class="w-full"  />
          <label >Reference</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.pluie" id="pluie" class="w-full"  />
          <label for="pluie">Rain</label>
        </p-floatLabel>
        <p-floatLabel>
          <p-autoComplete
            [(ngModel)]="analysesPhysique.qualite"
            [dropdown]="true"
            [suggestions]="filtereddatasel"
            (completeMethod)="filterCountry($event)"
            field="" />

          <label >Quality</label>

        </p-floatLabel>
      </div>
      <div class=" flex flex-column  gap-5   ">


        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.conformite"  id="conformite" />
          <label >Compliance</label>
        </p-floatLabel>
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="analysesPhysique.matiere"  id="matiere" placeholder="Exp saumure , sel ..." class="w-full" />
          <label >Matter</label>
        </p-floatLabel>
        <p-floatLabel>
          <textarea rows="3" cols="20" pInputTextarea [(ngModel)]="analysesPhysique.description"  id="description"  class="w-full" ></textarea>
          <label >Description</label>
        </p-floatLabel>
      </div>

      <div class="flex flex-column justify-content-between col-4 border-1 border-gray-200">
        <label class="font-bold text-3xl m-2">Assignment</label>
        <p-tabView  [scrollable]="true">

          <p-tabPanel header="Pond" >
            <p-listbox [options]="bassins" [(ngModel)]="selectedBassin" optionLabel="nom" (ngModelChange)="selectBassin()"[filter]="true"  [listStyle]="{'height': '200px'}"  ></p-listbox>

          </p-tabPanel>
          <p-tabPanel header="Unwashed stock" pTooltip="Enter your username" >
            <p-listbox [options]="sbnls" [(ngModel)]="selectedSbnl" optionLabel="reference" (ngModelChange)="selectSBNL()" [filter]="true"  [listStyle]="{'height': '200px'}"    ></p-listbox>

          </p-tabPanel>
          <p-tabPanel header="Band" pTooltip="Enter your username" >
            <p-listbox [options]="bandes" [(ngModel)]="selectedBande" optionLabel="reference" (ngModelChange)="selectBande()" [filter]="true"  [listStyle]="{'height': '200px'}"    ></p-listbox>

          </p-tabPanel>
          <p-tabPanel header="Washed stock" >
            <p-listbox [options]="sbls" [(ngModel)]="selectedSbl" optionLabel="reference" [filter]="true" (ngModelChange)="selectSBL()" [listStyle]="{'height': '200px'}"   ></p-listbox>

          </p-tabPanel>

          <p-tabPanel header="Final stock" >
            <p-listbox [options]="sblfs" [(ngModel)]="selectedSblf" optionLabel="reference" [filter]="true" (ngModelChange)="selectSBLF()"  [listStyle]="{'height': '200px'}"   ></p-listbox>

          </p-tabPanel>
        </p-tabView>
        <div >

          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="(selectedBassin!=undefined && selectedBassin.hasOwnProperty('id'))">
            <div class="flex flex-column ">
              <p><span class="font-bold"> Name: </span>{{selectedBassin.nom}}</p>
              <p><span class="font-bold"> Reference: </span>{{selectedBassin.reference}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Pool Details" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedBassin.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedBassin.description}}</p>
                </div><div class="field">
                <p><span class="font-bold"> Name: </span>{{selectedBassin.nom}}</p>
              </div>
                <div class="field">
                  <p><span class="font-bold"> Location: </span>{{selectedBassin.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> State: </span>{{selectedBassin.etat}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Creation date: </span>{{selectedBassin.dateCreation}}</p>
                </div>


              </ng-template>




            </p-dialog>
          </div>

          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="(selectedSbnl!=undefined && selectedSbnl.hasOwnProperty('id'))">

            <div class="flex flex-column ">

              <p><span class="font-bold"> Reference: </span>{{selectedSbnl.reference}}</p>
              <p><span class="font-bold">  Location: </span>{{selectedSbnl.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details of Sbnl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedSbnl.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Location: </span>{{selectedSbnl.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSbnl.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantity: </span>{{selectedSbnl.quantite}}</p>
                </div>

                <div class="field">
                  <p><span class="font-bold"> State: </span>{{selectedSbnl.etat}}</p>
                </div>



              </ng-template>




            </p-dialog>
          </div>

          <!--          =========-->

          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf=" selectedBande!=undefined && selectedBande.hasOwnProperty('id')">
            <div class="flex flex-column ">
              <p><span class="font-bold"> Reference: </span>{{selectedBande.reference}}</p>
              <p><span class="font-bold">  State: </span>{{selectedBande.etat}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>

            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Band Details" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedBande.reference}}</p>
                </div>

                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedBande.description}}</p>
                </div>
                <div class="field">
                  <div class="field">
                    <p><span class="font-bold"> State: </span>{{selectedBande.etat}}</p>
                  </div>
                  <p><span class="font-bold"> Quantity: </span>{{selectedBande.quantite}}</p>
                </div>

                <div class="field">
                  <p><span class="font-bold"> Quantity Refusal: </span>{{selectedBande.quantiteRefus}}</p>
                </div>


              </ng-template>




            </p-dialog>
          </div>

          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="selectedSbl!=undefined && selectedSbl.hasOwnProperty('id')">

            <div class="flex flex-column ">
              <p><span class="font-bold"> Reference: </span>{{selectedSbl.reference}}</p>
              <p><span class="font-bold">  Location: </span>{{selectedSbl.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>
            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details of Sbl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedSbl.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Location: </span>{{selectedSbl.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSbl.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantity: </span>{{selectedSbl.quantite}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> State: </span>{{selectedSbl.etat}}</p>
                </div>
              </ng-template>
            </p-dialog>
          </div>
          <!--          =========-->
          <!--          =========-->
          <div class="border-1 border-round border-gray-300 p-2 " *ngIf="selectedSblf !=undefined && selectedSblf.hasOwnProperty('id') ">
            <div class="flex flex-column ">
              <p><span class="font-bold"> Reference: </span>{{selectedSblf.reference}}</p>
              <p><span class="font-bold">  Location: </span>{{selectedSblf.emplacement}}</p>
              <div class=" flex justify-content-end">
                <button pButton pRipple label="Details" icon="pi pi-eye" class="p-button-primary mr-2 " (click)="openNew()"></button>
              </div>
            </div>
            <p-dialog [(visible)]="visibleDetails" [style]="{width: '450px'}" header="Details of Sbl" [modal]="true" class="p-fluid">
              <ng-template pTemplate="content">
                <div class="field">
                  <p><span class="font-bold"> Reference: </span>{{selectedSblf.reference}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold">  Location: </span>{{selectedSblf.emplacement}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Description: </span>{{selectedSblf.description}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> Quantity: </span>{{selectedSblf.quantite}}</p>
                </div>
                <div class="field">
                  <p><span class="font-bold"> State: </span>{{selectedSblf.etat}}</p>
                </div>
              </ng-template>
            </p-dialog>
          </div>
          <!--          =========-->
        </div>
      </div>


    </div>

    <div class=" flex col-12 justify-content-end mt-6 ">
      <button *ngIf=" getToken()=='ADMIN'" pButton label="Add Sieve" icon="pi pi-plus" class="p-button-success " (click)="ajouterTamis()"></button>
    </div>

    <p-dialog [(visible)]="visibale" [style]="{width: '450px'}" header="Add Sieve" [modal]="true" class="p-fluid">

      <div class="  flex flex-column gap-4 ">

        <p-floatLabel>
          <p-inputNumber [disabled]="isUpdateTamis" id="certificat" class="w-1/2 " [(ngModel)]="tamis.calibre"  mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>
          <label>Calibre</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-inputNumber id="qui" [(ngModel)]="tamis.masse"   mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>
          <label>Weight</label>
        </p-floatLabel>

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="nomVisa" class="w-full " [(ngModel)]="tamis.refus" mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Refus</label>-->
<!--        </p-floatLabel>-->

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="natureAction" class="" [(ngModel)]="tamis.refusCumulated" mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Refus Cumulated</label>-->
<!--        </p-floatLabel>-->

<!--        <p-floatLabel>-->
<!--          <p-inputNumber id="observation" class="w-full " [(ngModel)]="tamis.passCumulated"  mode="decimal" locale="en-US" [minFractionDigits]="3"></p-inputNumber>-->
<!--          <label>Pass Cumulated</label>-->
<!--        </p-floatLabel>-->



      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text" (click)="saveTamis()"></button>
      </ng-template>

    </p-dialog>
    <p-table #dt [value]="listeTamis" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['calibre']" [paginator]="true" [rowsPerPageOptions]="[10,20,30,100,200]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedIntervention" selectionMode="multiple" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
          <h5 class="m-0">Thames Management</h5>
          <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th >Calibre </th>
          <th >Weight </th>
          <th >Refus </th>
          <th >Refus Cumulated</th>
          <th >pass Cumulated </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td ><span class="p-column-title" >Calibre</span>
            {{tamis.calibre}}
          </td>
          <td>
            <span class="p-column-title">Weight</span>
            {{tamis.masse}}
          </td>
          <td >
            <span class="p-column-title">Refus</span>
            {{tamis.refus}}


          </td>


          <td >
            <span class="p-column-title">Refus Cumulated</span>
            {{tamis.refusCumulated}}
          </td>
          <td>
            <span class="p-column-title">pass Cumulated</span>
            {{tamis.passCumulated}}
          </td>



          <div *ngIf=" getToken()=='ADMIN'"  class="flex ">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTamis(tamis)"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="editTamis(tamis)"></button>
          </div>

        </tr>
      </ng-template>
    </p-table>

  <div class=" flex col-12 justify-content-end">
    <button *ngIf=" getToken()=='ADMIN'" pButton label="calculate" icon="pi pi-check" class=" " (click)="calculateTamis()"></button>
  </div>
  </div>
</div>

    <!---->
    <div class=" flex col-12 justify-content-end">
      <button  *ngIf=" getToken()=='ADMIN'" pButton label="Save" icon="pi pi-check" class=" " (click)="saveAnalysePhysique()"></button>
    </div>





