<div  class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nom','email','poste','telephone','role']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Users management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="poste">Post <p-sortIcon field="poste"></p-sortIcon></th>
            <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
            <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user >
          <tr >
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{user.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{user.nom}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Pseudo</span>
              {{user.email}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Post</span>
              {{user.poste}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Telephone</span>
              {{user.telephone}}
            </td>

            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Role</span>
              {{user.role}}
            </td>



            <td>
              <div class="flex justify-content-end mr-4">
                <button  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(user)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(user)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog  [(visible)]="productDialog" [style]="{width: '500px'}" header="User "   [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="flex justify-content-evenly" *ngIf="isUpdateUser==false" >
        <div class="field" >
          <p-radioButton id="admin" name="user"   value="ADMIN" [(ngModel)]="registerRequest.role" inputId="admin"></p-radioButton>
          <label for="admin" class="ml-2">Admin</label>
        </div>
        <div class="field" >
          <p-radioButton  id="employer" name="user"   value="EMPLOYER" [(ngModel)]="registerRequest.role" inputId="employer"></p-radioButton>
          <label for="employer" class="ml-2">Employer</label>
        </div>
          <div class="field" >
          <p-radioButton  id="costumer" name="user"   value="COSTUMER" [(ngModel)]="registerRequest.role" inputId="costumer"></p-radioButton>
          <label for="costumer" class="ml-2">Costumer</label>
        </div>
        </div>
        <div class="field">
          <label for="name">Name</label>
          <input type="text" pInputText id="name"  [(ngModel)]="registerRequest.nom" />
        </div>
        <div class="field">
          <label for="pseudo">Email </label>
          <input  type="text" pInputText id="pseudo"  [(ngModel)]="registerRequest.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !registerRequest.email}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !registerRequest.email">Email is required.</small>
        </div>

        <div class="field">
          <label for="poste">Post</label>
          <input type="text" pInputText id="poste"  [(ngModel)]="registerRequest.poste" />
        </div>
        <div class="field">
          <label for="telephone" >Telephone</label>
          <p-inputNumber   id="telephone" mode="decimal" [(ngModel)]="registerRequest.telephone" ></p-inputNumber>
        </div>



        <div class="field" *ngIf="!isUpdateUser">
            <label for="password">Password</label>
            <p-password id="password" [(ngModel)]="registerRequest.password" [toggleMask]="true" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !registerRequest.password}"></p-password>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !registerRequest.password">Password is required.</small>

        </div>
        <div class="field" *ngIf="isUpdateUser">
          <label for="currentpassword">Current Password</label>
          <p-password id="currentpassword" [(ngModel)]="changePassword.currentPassword" [toggleMask]="true" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !changePassword.currentPassword}"></p-password>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !changePassword.currentPassword">Current Password is required.</small>

        </div>
        <div class="field" *ngIf="isUpdateUser">
          <label for="newpassword">New Password</label>
          <p-password id="newpassword" [(ngModel)]="changePassword.newPassword" [toggleMask]="true" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !changePassword.newPassword}"></p-password>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !changePassword.newPassword">New Password is required.</small>

        </div>
        <div class="field" *ngIf="isUpdateUser">
          <label for="confpassword">Confirmation Password</label>
          <p-password id="confpassword" [(ngModel)]="changePassword.confirmationPassword" [toggleMask]="true" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !changePassword.confirmationPassword}"></p-password>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !changePassword.confirmationPassword">Confirmation Password is required.</small>

        </div>
      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span >Are you sure you want to delete <b></b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you want to delete users </span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

