<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des Utilisateurs</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">Id <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="rating">Pseudo <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="category">Poste <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="price">Telephone <p-sortIcon field="price"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user >
          <tr >
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{user.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Nom</span>
              {{user.nom}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Pseudo</span>
              {{user.pseudo}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Poste</span>
              {{user.poste}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Telephone</span>
              {{user.telephone}}
            </td>



            <td>
              <div class="flex justify-content-end mr-4">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(user)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(user)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
        <div class="field">
          <label for="name">Nom</label>
          <input type="text" pInputText id="name"  [(ngModel)]="user.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.nom}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.nom">Name is required.</small>
        </div>
        <div class="field">
          <label for="pseudo">Pseudo</label>
          <input type="text" pInputText id="pseudo"  [(ngModel)]="user.pseudo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.pseudo}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.pseudo">Pseudo is required.</small>
        </div>

        <div class="field">
          <label for="poste">Poste</label>
          <input type="text" pInputText id="poste"  [(ngModel)]="user.poste" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.poste}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.poste">poste is required.</small>
        </div>
        <div class="field">
          <label for="telephone">Telephone</label>
          <input type="text" pInputText id="telephone"  [(ngModel)]="user.telephone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.telephone}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.telephone">Telephone is required.</small>
        </div>



        <div class="field">
            <label for="password">Password</label>
            <p-password id="password" [(ngModel)]="user.mp" [toggleMask]="true"></p-password>
          </div>
      </ng-template>

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton id="admin" name="admin" value="Admin" [(ngModel)]="user.type" inputId="admin"></p-radioButton>
          <label for="admin" class="ml-2">Admin</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton  id="employer" name="employer" value="Employer" [(ngModel)]="user.type" inputId="employer"></p-radioButton>
          <label for="employer" class="ml-2">Employer</label>
        </div>
      </div>


      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

