<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedSbnls()" [disabled]="!selectedSbnls || !selectedSbnls.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getsbnl()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [loading]="loading"
               [value]="sbnls"
               [columns]="cols"
               responsiveLayout="scroll"
               [rows]="10"
               [globalFilterFields]="['id','reference','description','dateEndHarvest','dateStartHarvest','nom','emplacement','etat','dateFermeture']"
               [paginator]="true"
               [rowsPerPageOptions]="[10,20,30]"
               [showCurrentPageReport]="true"
               currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"
               [(selection)]="selectedSbnls" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Management of unwashed  stocks</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateStartHarvest">Date Start Harvest<p-sortIcon field="dateStartHarvest"></p-sortIcon></th>
            <th pSortableColumn="dateEndHarvest">Date End Harvest<p-sortIcon field="dateEndHarvest"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Location <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">State <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="quantite">Quantity <p-sortIcon field="quantite"></p-sortIcon></th>
            <th pSortableColumn="pond">Pond <p-sortIcon field="pond"></p-sortIcon></th>


            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sbnl >
          <tr >
            <td>
              <p-tableCheckbox [value]="sbnl"></p-tableCheckbox>
            </td>
            <td ><span class="p-column-title">Id</span>
              {{sbnl.id}}
            </td>
            <td >
              <span class="p-column-title">Reference</span>
              {{sbnl.reference}}
            </td>
            <td >
              <span class="p-column-title">Description</span>
              {{sbnl.description}}


            </td>


            <td >
              <span class="p-column-title">Date Start Harvest</span>
              {{sbnl.dateDebutHarvest  | date :'dd-MM-yyyy'}}
            </td>
            <td >
              <span class="p-column-title">Date End Harvest</span>
              {{sbnl.dateFinHarvest  | date :'dd-MM-yyyy'}}
            </td>
            <td>
              <span class="p-column-title">Location</span>
              {{sbnl.emplacement}}
            </td>
            <td >
              <span class="p-column-title">State</span>
              {{sbnl.etat}}
            </td>
            <td >
              <span class="p-column-title">Quantity</span>
              {{getQuantitySbnl(sbnl)}}
            </td>
            <td  class="surface-overlay flex align-items-center gap-2">
              <span class="p-column-title">Pond</span>
              <span class="pi pi-eye text-3xl text-primary cursor-pointer m-2" (click)="openDialog()"  ></span>

              <p-dialog [(visible)]="detailsDialog" [style]="{width: '1300px'}" header="Pond" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">

                  <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
                    <div class="flex flex-column gap-2 col-2">
                      <label> Pond List</label>
                      <p-dropdown
                        [options]="sbnl.bassinList"
                        [(ngModel)]="selectedBassin"
                        optionLabel="reference"
                        placeholder="Select a Pond" />
                    </div>


                  </div>
                  <div class="cart mt-5">
                    <p-table #dt [loading]="loading"
                             [value]="selectedBassin.recolteList!==undefined?selectedBassin.recolteList:[]"
                             [columns]="cols"
                             responsiveLayout="scroll" [rows]="10"
                             [globalFilterFields]="['id','date','value']"
                             [paginator]="true"
                             editMode="row"
                             [rowsPerPageOptions]="[10,20,30]"
                             [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                      <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                          <div class="flex justify-content-between align-items-center w-full">
                            <h5 class="m-0">Harvest management</h5>



                            <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                            </div>
                          </div>

                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>

                          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                          <th pSortableColumn="date">Date Harvest<p-sortIcon field="date"></p-sortIcon></th>
                          <th pSortableColumn="value">Value <p-sortIcon field="value"></p-sortIcon></th>

                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-recolte let-editing="editing" >
                        <tr [pEditableRow]="recolte" >

                          <td >
                            <span class="p-column-title">Id</span>
                            {{recolte.id}}
                          </td>

                          <td >
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="recolte.dateCreation"  />

                              </ng-template>
                              <ng-template pTemplate="output">
                                {{recolte.dateCreation|date:'yyyy-MM-dd'}}
                              </ng-template>
                            </p-cellEditor>
                          </td>

                          <td >
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input
                                  pInputText
                                  type="text"
                                  [(ngModel)]="recolte.value" />
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{recolte.value}}
                              </ng-template>
                            </p-cellEditor>
                          </td>

                          <td>

                          </td>
                        </tr>
                      </ng-template>
                    </p-table>

                  </div>

                </ng-template>




                <ng-template pTemplate="footer">
                  <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="detailsDialog=false"></button>
                </ng-template>
              </p-dialog>

            </td>
            <td>
              <div class="flex ">
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple  class="p-button-rounded p-button-info mr-2" (click)="AddTransferTo(sbnl)">Transfer</button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSbnl(sbnl)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteSbnl(sbnl)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(sbnl)"></button>

              </div>
            </td>
          </tr>
          <!--==============================ADD TRANSFER TO BAND===============================================================================-->
          <p-dialog [(visible)]="TransferToDialog" [style]="{width: '1300px'}" header="Transfer To " [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <h3>Add Transfer To </h3>
              <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
                <div class="card flex flex-column gap-4 w-full justify-content-center">
                  <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                      <p-radioButton
                        value="liwellSieve"
                        [(ngModel)]="ingredient"
                      />
                      <label  class="ml-2">
                        Liwell Sieve
                      </label>
                    </div>

                    <div class="flex align-items-center">
                      <p-radioButton
                        value="greenSieve"
                        [(ngModel)]="ingredient"
                        />
                      <label  class="ml-2">
                        Green Sieve
                      </label>
                    </div>

                    <div class="flex align-items-center">
                      <p-radioButton
                        value="laundry"
                        [(ngModel)]="ingredient"
                       />
                      <label  class="ml-2">
                        Laundry
                      </label>
                    </div>

                  </div>

                  <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='liwellSieve'">
                    <div class="">
                      <label for="value"> Liwell Sieve</label>
                      <p-dropdown
                        [options]="listCribleLiwells"
                        [(ngModel)]="selectedCribleLiwell"
                        optionLabel="reference"
                        placeholder="Select a Liwell Sieve" />                </div>
                    <div class="">
                      <label for="dateCreationr">Date Creation</label>
                      <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateCreationr"  [(ngModel)]="transferToCribleLiwell.dateCreation"  />
                    </div>
                    <div class="">
                      <label for="value">Transfer Quantity</label>
                      <p-inputNumber  id="value"  [(ngModel)]="transferToCribleLiwell.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
                    </div>
                    <div>
                      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferToCribleLiwell()"></button>
                    </div>
                  </div   >
                  <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='greenSieve'">
                    <div class="">
                      <label>Green Sieve</label>
                      <p-dropdown
                        [options]="listCribleVerts"
                        [(ngModel)]="selectedCribleVert"
                        optionLabel="reference"
                        placeholder="Select a Green Sieve" />
                    </div>
                    <div class="">
                      <label >Date Creation</label>
                      <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="transferToCribleVert.dateCreation"  />
                    </div>
                    <div class="">
                      <label for="value">Transfer Quantity</label>
                      <p-inputNumber    [(ngModel)]="transferToCribleVert.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
                    </div>
                    <div>
                      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferToCribleVert()"></button>
                    </div>
                  </div   >
                  <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='laundry'">
                    <div class="">
                      <label >Laundry</label>
                      <p-dropdown
                        [options]="listLaveries"
                        [(ngModel)]="selectedLaverie"
                        optionLabel="reference"
                        placeholder="Select a Laundry" />                </div>
                    <div class="">
                      <label >Date Creation</label>
                      <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText  [(ngModel)]="transferToLaverie.dateCreation"  />
                    </div>
                    <div class="">
                      <label >Transfer Quantity</label>
                      <p-inputNumber   [(ngModel)]="transferToLaverie.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
                    </div>
                    <div>
                      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferToLaverie()"></button>
                    </div>
                  </div   >
                  <p-messages [(value)]="messages" [enableService]="false"   [showTransitionOptions]="'500ms'"
                              [hideTransitionOptions]="'500ms'" />
                </div>



              </div>
              <div class="cart mt-5">
                <!------------- CRIBLE LIWELL ---------------------->

                <p-table #dt [loading]="loading"
                         [value]="ListTransferToCribleLiwell"
                         [columns]="cols"
                         responsiveLayout="scroll" [rows]="10"
                         [globalFilterFields]="['id','date','value']"
                         [paginator]="true"
                         editMode="row"
                         [rowsPerPageOptions]="[10,20,30]"
                         *ngIf="ingredient=='liwellSieve'"
                         [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                  <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <div class="flex justify-content-between align-items-center w-full">
                        <h5 class="m-0">Transfer To  management</h5>
                        <div class=" flex gap-1">
                          <div class="gap-1 flex align-items-center">Date Start :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartLiwellSieve"  />

                          </div>
                          <div class="gap-1  flex align-items-center">
                            Date End :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndLiwellSieve"  />

                          </div>
                        </div>
                        <p-button (click)="filtreListLiwellSieveWithDate(dateStartLiwellSieve,dateEndLiwellSieve)" class=" " icon="pi pi-search" label="Search"></p-button>
                        <p-button (click)="getListTransferToCribleLiwell()" class=" " icon="pi pi-refresh" label="Clear"></p-button>
                        <div>
                          <span> <span class="font-bold">Total :</span> {{totalLiwelSieveFiltree}}</span>
                        </div>
                        <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                        </div>
                      </div>

                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>

                      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="cribleLiwell">Liwell Sieve <p-sortIcon field="cribleLiwell"></p-sortIcon></th>
                      <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
                      <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-TransferToCribleLiwell
                               let-editing="editing" >
                    <tr [pEditableRow]="TransferToCribleLiwell" >

                      <td >
                        <span class="p-column-title">Id</span>
                        {{TransferToCribleLiwell.id}}
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown
                              [options]="listCribleLiwells"
                              appendTo="body"
                              optionLabel="reference"
                              [(ngModel)]="selectedCribleLiwell"
                              [style]="{'width':'100%'}" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleLiwell.referenceCribleLiwell}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferToCribleLiwell.dateCreation"  />

                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleLiwell.dateCreation|date:'yyyy-MM-dd'}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input
                              pInputText
                              type="text"
                              [(ngModel)]="TransferToCribleLiwell.quantityTransfer" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleLiwell.quantityTransfer}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td>
                        <div class="flex  align-items-center gap-2">
                          <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    (click)="updateTransferToCribleLiwell(TransferToCribleLiwell)"
                                    class="p-button-rounded   mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                                    (click)="saveUpdateTransferToCribleLiwell()"
                                    class="p-button-rounded p-button-text  mr-2"></button>
                          </div>
                          <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferToCribleLiwell(TransferToCribleLiwell)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!------------- CRIBLE LIWELL ---------------------->
                <!------------- CRIBLE VERT ------------------------>
                <p-table #dt [loading]="loading"
                         [value]="ListTransferToCribleVert"
                         [columns]="cols"
                         responsiveLayout="scroll" [rows]="10"
                         [globalFilterFields]="['id','date','value']"
                         [paginator]="true"
                         editMode="row"
                         [rowsPerPageOptions]="[10,20,30]"
                         *ngIf="ingredient=='greenSieve'"
                         [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                  <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <div class="flex justify-content-between align-items-center w-full">
                        <h5 class="m-0">Transfer To  management</h5>
                        <div class=" flex gap-1">
                          <div class="gap-1 flex align-items-center">Date Start :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartCribleVert"  />

                          </div>
                          <div class="gap-1  flex align-items-center">
                            Date End :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndCribleVert"  />

                          </div>
                        </div>
                        <p-button (click)="filtreListCribleVertWithDate(dateStartCribleVert,dateEndCribleVert)" class=" " icon="pi pi-search" label="Search"></p-button>
                        <p-button (click)="getListTransferToCribleVert()" class=" " icon="pi pi-refresh" label="Clear"></p-button>
                        <div>
                          <span> <span class="font-bold">Total :</span> {{totalCribleVertFiltree}}</span>
                        </div>
                        <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                        </div>
                      </div>

                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>

                      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="cribleLiwell">Green Sieve <p-sortIcon field="cribleLiwell"></p-sortIcon></th>
                      <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
                      <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-TransferToCribleVert
                               let-editing="editing" >
                    <tr [pEditableRow]="TransferToCribleVert" >

                      <td >
                        <span class="p-column-title">Id</span>
                        {{TransferToCribleVert.id}}
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown
                              [options]="listCribleVerts"
                              appendTo="body"
                              optionLabel="reference"
                              [(ngModel)]="selectedCribleVert"
                              [style]="{'width':'100%'}" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleVert.referenceCribleVert}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferToCribleVert.dateCreation"  />

                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleVert.dateCreation|date:'yyyy-MM-dd'}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input
                              pInputText
                              type="text"
                              [(ngModel)]="TransferToCribleVert.quantityTransfer" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToCribleVert.quantityTransfer}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td>
                        <div class="flex  align-items-center gap-2">
                          <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    (click)="updateTransferToCribleVert(TransferToCribleVert)"
                                    class="p-button-rounded   mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                                    (click)="saveUpdateTransferToCribleVert()"
                                    class="p-button-rounded p-button-text  mr-2"></button>
                          </div>
                          <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferToCribleVert(TransferToCribleVert)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!------------- CRIBLE VERT ------------------------>
                <!------------- LAVERIE ---------------------------->
                <p-table #dt [loading]="loading"
                         [value]="ListTransferToLaverie"
                         [columns]="cols"
                         responsiveLayout="scroll" [rows]="10"
                         [globalFilterFields]="['id','date','value']"
                         [paginator]="true"
                         editMode="row"
                         [rowsPerPageOptions]="[10,20,30]"
                         *ngIf="ingredient=='laundry'"
                         [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                  <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <div class="flex justify-content-between align-items-center w-full">
                        <h5 class="m-0">Transfer To  management</h5>
                        <div class=" flex gap-1">
                          <div class="gap-1 flex align-items-center">Date Start :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartLaverie"  />

                          </div>
                          <div class="gap-1  flex align-items-center">
                            Date End :

                            <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndLaverie"  />

                          </div>
                        </div>
                        <p-button (click)="filtreListLaverieWithDate(dateStartLaverie,dateEndLaverie)" class=" " icon="pi pi-search" label="Search"></p-button>
                        <p-button (click)="getListTransferToLaverie()" class=" " icon="pi pi-refresh" label="Clear"></p-button>
                        <div>
                          <span> <span class="font-bold">Total :</span> {{totalLaverieFiltree}}</span>
                        </div>
                        <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                        </div>
                      </div>

                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>

                      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="cribleLiwell">Laundry <p-sortIcon field="cribleLiwell"></p-sortIcon></th>
                      <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
                      <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-TransferToLaundry
                               let-editing="editing" >
                    <tr [pEditableRow]="TransferToLaundry" >

                      <td >
                        <span class="p-column-title">Id</span>
                        {{TransferToLaundry.id}}
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown
                              [options]="listLaveries"
                              appendTo="body"
                              optionLabel="reference"
                              [(ngModel)]="selectedLaverie"
                              [style]="{'width':'100%'}" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToLaundry.referenceLaverie}}
                          </ng-template>
                        </p-cellEditor>

                      </td>
                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferToLaundry.dateCreation"  />

                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToLaundry.dateCreation|date:'yyyy-MM-dd'}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td >
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input
                              pInputText
                              type="text"
                              [(ngModel)]="TransferToLaundry.quantityTransfer" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{TransferToLaundry.quantityTransfer}}
                          </ng-template>
                        </p-cellEditor>
                      </td>

                      <td>
                        <div class="flex  align-items-center gap-2">
                          <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    (click)="updateTransferToLaverie(TransferToLaundry)"
                                    class="p-button-rounded   mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                                    (click)="saveUpdateTransferToLaverie()"
                                    class="p-button-rounded p-button-text  mr-2"></button>
                          </div>
                          <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferToLaverie(TransferToLaundry)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!------------- LAVERIE ---------------------------->
              </div>

            </ng-template>

            <ng-template pTemplate="footer">
              <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="TransferToDialog=false"></button>
            </ng-template>
          </p-dialog>
          <!--==============================ADD TRANSFER TO BAND===============================================================================-->

        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header=" Unwashed Stock" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Pond</label>
          <p-multiSelect [options]="bassins"   [(ngModel)]="sbnl.bassinList"  placeholder="Select a Pond" optionLabel="reference" display="chip" class="w-full" [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.bassinList}" ></p-multiSelect>

          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.bassinList">Pond is required.</small>

        </div>
        <div class="field">
          <label for="name">Reference</label>
          <input type="text" pInputText id="name"  [(ngModel)]="sbnl.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.reference">Reference is required.</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="sbnl.description" required autofocus />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.description">Pseudo is required.</small>-->
        </div>
              <!----------Date Start Harvest--------->
        <div class="field">
          <label for="dateStartHarvest" >Date Start Harvest</label>
          {{sbnl.dateDebutHarvest}}

          <input  class="p-2 shadow-1" type="date" pInputText id="dateStartHarvest"  [(ngModel)]="sbnl.dateDebutHarvest"  />
        </div>
              <!----------Date End Harvest--------->
        <div class="field">
          <label for="dateEndHarvest">Date End Harvest</label>
          <input  class="p-2 shadow-1" type="date" pInputText id="dateEndHarvest"  [(ngModel)]="sbnl.dateFinHarvest"   />
        </div>
        <div class="field">
          <label for="emplacement">Location</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="sbnl.emplacement" required autofocus />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.emplacement">Telephone is required.</small>-->
        </div>
        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="sbnl.etat" required autofocus/>
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.etat">Telephone is required.</small>-->
        </div>
<!--        <div class="field">-->
<!--          <label for="quantite">Quantity</label>-->
<!--          <p-inputNumber Id="quantite" mode="decimal" [minFractionDigits]="3" [(ngModel)]="sbnl.quantite"  ></p-inputNumber>-->
<!--        </div>-->


      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{isUpdatesbnl==false?'Add':'Update'}}" icon="pi pi-check" class="p-button-text" (click)="saveSbnl()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete<b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you really want to delete selected?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


<p-dialog header="Chemical and particle size analysis" [(visible)]="visiblePrint" [modal]="true"    [style]="{width: '100%'}">
  <div class="shadow-1 p-2  " >chemical filtration  :

    <div class="card flex justify-content-evenly ">
      <div class="gap-1 flex align-items-center">Analysis start date  :<p-calendar [(ngModel)]="DatefiltrageStart"  ></p-calendar>
      </div>
      <div class="gap-1    flex align-items-center">
        Date End Analysis  :<p-calendar [(ngModel)]="DatefiltrageEnd"  ></p-calendar>
      </div>
      <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Search"></p-button>
      <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-refresh" label="Refresh"></p-button>

    </div>
    <div class="shadow-1 p-2 overflow-auto">
      <p-checkbox [(ngModel)]="SelectAll" (ngModelChange)="SelectAllCheck()" [binary]="true" inputId="binary" class="text-primary" label="All"></p-checkbox>

      <th *ngFor="let c of colsfiltre">

      <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

    </th>
    </div>
    <br>
    <div class="shadow-1 p-2 gap-1 text-3xl flex inline-flex justify-content-evenly" >filtrate Grain size  :<br>
    <p-listbox [options]="selectedSbnl.analysesPhysiques!==undefined?selectedSbnl.analysesPhysiques:[]" [(ngModel)]="SelectedsbnlPrintAnalyse" optionLabel="reference" [filter]="true" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}"></p-listbox>
  <div *ngIf="SelectedsbnlPrintAnalyse.hasOwnProperty('id')" class="p-2">
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.dateAnalyse}}</span><br>
      <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.matiere}}</span><br>
      <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.temperature}} °C</span><br>
   </div>
    </div>
  </div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">
    <img src="assets/layout/images/logo.png">
    <div class="row justify-content-end font-bold flex text-1xl"> Creation date: <span class=" text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd"}}</span></div>
    <div class="row    font-bold flex text-1xl   "> Identification :<span class=" text-1xl font-bold   "> {{selectedSbnl.reference}}</span></div>

    <div class="row   text-8xl font-bold text-center m-2 p-3" > Analysis Report </div>
    <div class="mt-5 mb-5">

      <label class="font-bold text-5xl  ">Chemical analysis</label>
      <br><br><br><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{selectedSbnl.reference}}</span><br>
      <label class="text-2xl font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{selectedSbnl.dateStock|date :'dd-MM-yyyy'}}</span><br>

    </div>

    <p-table id="EXCEL" #dt1 [value]="getAnalyse()" [tableStyle]="{ 'min-width': '50rem' }"
             dataKey="id"
             [showCurrentPageReport]="true"
             [globalFilterFields]="['dateAnalyse']"



    >


      <ng-template pTemplate="header">
        <tr>

          <ng-container *ngFor="let c of getColsfiltr()">
            <th>{{ c.header }}</th>
          </ng-container>



        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
        <tr>


          <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>
          <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
          <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
          <td *ngIf="colsfiltre[4].hide">{{ a.humidite ==undefined?'-':a.humidite }}</td>
          <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
          <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
          <td *ngIf="colsfiltre[7].hide">{{ a.salinite ==undefined?'-':a.salinite}}</td>
          <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
          <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
          <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
          <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
          <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
          <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
          <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
          <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
          <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
          <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>

        </tr>
      </ng-template>
    </p-table>
    <br><br><br><br>

    <label class="font-bold top-5 text-5xl">Grain Size</label>
    <br><br><br><br>
<div class=" top-5 bottom-5">
    <label class="text-2xl font-bold">Date   :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.dateAnalyse}}</span><br>
    <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.reference}}</span><br>
    <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.matiere}}</span><br>
    <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.temperature}} °C</span><br>
</div>
    <br><br><br>
    <p-table class=" " #dt [value]="getTamisFiltred()" [columns]="cols"  responsiveLayout="scroll"       dataKey="id" id="TAMIS">

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="dateintervention">Calibre <p-sortIcon field="dateintervention"></p-sortIcon></th>
          <th pSortableColumn="qui">Weight <p-sortIcon field="qui"></p-sortIcon></th>
          <th pSortableColumn="natureAction">Refus <p-sortIcon field="natureAction"></p-sortIcon></th>
          <th pSortableColumn="resultat">Refus Cumulated<p-sortIcon field="resultat"></p-sortIcon></th>
          <th pSortableColumn="certificat">pass Cumulated <p-sortIcon field="certificat"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td >
            {{tamis.calibre}}
          </td>
          <td>

            {{tamis.masse}}
          </td>
          <td >

            {{tamis.refus}}


          </td>


          <td >

            {{tamis.refusCumulated}}
          </td>
          <td>

            {{tamis.passCumulated}}
          </td>





        </tr>
      </ng-template>
    </p-table>



  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus    ></p-button>
    <button type="button" pButton pRipple  icon="pi pi-file-excel" (click)="ExportExcel()" class="p-button-success" label="EXCEL" pAutoFocus [autofocus]="true"  ></button>
    <button type="button" pButton pRipple icon="pi pi-file" (click)="exportcsv()" class="p-button-warning " label="CSV" pTooltip="CSV" ></button>
  </ng-template>
</p-dialog>

<p-dialog  class="p-fluid" [(visible)]="deleteTransferToCribleliwellDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center   justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="product">Are you sure you want to delete?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTransferToCribleliwellDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteTransferToCribleLiwell()"></button>
  </ng-template>
</p-dialog>
<p-dialog  class="p-fluid" [(visible)]="deleteTransferToCribleVertDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center   justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="product">Are you sure you want to delete?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTransferToCribleVertDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteTransferToCribleVert()"></button>
  </ng-template>
</p-dialog>

<p-dialog  class="p-fluid" [(visible)]="deleteTransferToLaverieDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center   justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="product">Are you sure you want to delete?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTransferToLaverieDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteTransferToLaverie()"></button>
  </ng-template>
</p-dialog>
