<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedSbnls()" [disabled]="!selectedSbnls || !selectedSbnls.length"></button>
            <button pButton pRipple label="Actualiser" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getsbnl()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="sbnls" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','nom','emplacement','etat','dateFermeture']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedSbnls" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des stocks bassins non lavés</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Date Stock<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Emplacement <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">Etat <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="etat">Quantite <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="sbnlBassin">Bassin <p-sortIcon field="sbnlBassin"></p-sortIcon></th>


            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sbnl >
          <tr >
            <td>
              <p-tableCheckbox [value]="sbnl"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{sbnl.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{sbnl.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{sbnl.description}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Date Stock</span>
              {{sbnl.dateStock}}
            </td>

            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Emplacement</span>
              {{sbnl.emplacement}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Etat</span>
              {{sbnl.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Quantite</span>
              {{sbnl.quantite}}
            </td>
            <td style="width:14%; min-width:8rem;" class="surface-overlay       ">
              <span class="p-column-title">Bassin</span>
              {{sbnl.sbnlBassin.reference }}
              <span class="pi pi-eye text-primary cursor-pointer m-2" (click)="opSBNL.toggle($event)"  ></span>
              <p-overlayPanel #opSBNL>
                <label class="text-2xl">Nom : {{sbnl.sbnlBassin.nom}}</label><br>
                <label class="text-2xl">Réf : {{sbnl.sbnlBassin.reference}}</label><br>
                <label class="text-2xl">Description : {{sbnl.sbnlBassin.description}}
                </label ><br>
                <label class="text-2xl">Etat : {{sbnl.sbnlBassin.etat}}</label><br>
                <label class="text-2xl">Quantité : {{sbnl.sbnlBassin.quantite}}</label><br>
                <label class="text-2xl">Emplacement : {{sbnl.sbnlBassin.emplacement}}</label><br>
               </p-overlayPanel>

            </td>
            <td>
              <div class="flex ">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSbnl(sbnl)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSbnl(sbnl)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(sbnl)"></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nouveau stock bassin Non Lavé" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Bassin</label>
          <p-dropdown [options]="bassins" [(ngModel)]="sbnl.sbnlBassin" [editable]="true" optionLabel="reference" class="w-full"></p-dropdown>
        </div>
        <div class="field">
          <label for="name">Reference</label>
          <input type="text" pInputText id="name"  [(ngModel)]="sbnl.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.reference">Name is required.</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="sbnl.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.description}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.description">Pseudo is required.</small>
        </div>

        <div class="field">
          <label for="dateCreation">Date Stock</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateCreation" [(ngModel)]="sbnl.dateStock"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.dateStock}" [showIcon]="true"></p-calendar>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.dateStock">poste is required.</small>
        </div>

        <div class="field">
          <label for="emplacement">Emplacement</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="sbnl.emplacement" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.emplacement}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.emplacement">Telephone is required.</small>
        </div>
        <div class="field">
          <label for="etat">Etat</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="sbnl.etat" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.etat}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.etat">Telephone is required.</small>
        </div>
        <div class="field">
          <label for="quantite">Quantite</label>
          <p-inputNumber Id="quantite" mode="decimal" [minFractionDigits]="3" [(ngModel)]="sbnl.quantite"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbnl.quantite}" ></p-inputNumber>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbnl.quantite">Telephone is required.</small>
        </div>


      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveSbnl()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Êtes-vous sûr de vouloir supprimer? <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


<p-dialog header="Analyse chimique et granulométrique" [(visible)]="visiblePrint" [modal]="true"   [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="shadow-1 p-2" >Filtrage :

    <div class="card flex justify-content-evenly ">
      <div class="gap-1 flex align-items-center">Date début Analyse  :<p-calendar [(ngModel)]="DatefiltrageStart"  ></p-calendar>
      </div>
      <div class="gap-1  flex align-items-center">
        Date Fin Analyse  :<p-calendar [(ngModel)]="DatefiltrageEnd"  ></p-calendar>
      </div>
      <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Rechercher"></p-button>
      <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-search" label="Effacer"></p-button>

    </div>
    <th *ngFor="let c of colsfiltre">

      <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

    </th>
  </div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">
    <img src="assets/layout/images/logo.png">
    <div class="row justify-content-end font-bold flex text-1xl"> Creation date: <span class=" text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd"}}</span></div>
    <div class="row    font-bold flex text-1xl   "> Identification :<span class=" text-1xl font-bold   "> {{selectedPuitPrint.reference}}</span></div>

    <div class="row   text-3xl font-bold text-center m-2 p-3" > Analysis Report </div>
    <div class="mt-5 mb-5">

      <label class="text-2xl font-bold">Name borehole :</label><span class=" ml-2 text-2xl">{{selectedPuitPrint.nom}}</span><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{selectedPuitPrint.reference}}</span><br>
      <label class="text-2xl font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{selectedPuitPrint.dateCreation}}</span>
    </div>

    <p-table #dt1 [value]="getAnalyse()" [tableStyle]="{ 'min-width': '50rem' }"
             dataKey="id"
             [showCurrentPageReport]="true"
             [globalFilterFields]="['dateAnalyse']"



    >


      <ng-template pTemplate="header">
        <tr>

          <th *ngFor="let c of getColsfiltr()">
            {{ c.header}}
          </th>


          <!--       <th>-->
          <!--         <p-columnFilter type="date" field="dateAnalyse" display="menu"></p-columnFilter>-->

          <!--         Date Analyse</th>-->


          <!--        <th>Temperature °C</th>-->
          <!--        <th>wind (km/h)</th>-->
          <!--        <th>humidity  </th>-->
          <!--        <th>Densite (g/cm 3)</th>-->
          <!--        <th>Suspended Matter (g)</th>-->
          <!--        <th>Salimite (psu)</th>-->
          <!--        <th>Calcium (mmol/L)</th>-->
          <!--        <th>Magnesium (g)</th>-->
          <!--        <th>Sulfate (g)</th>-->
          <!--        <th>Insoluble matter (g)</th>-->
          <!--        <th>Potassium (mmol/L)</th>-->
          <!--        <th>Sodium (mmol)</th>-->
          <!--        <th>Chlorure (meq · L–1)</th>-->
          <!--        <th>pH</th>-->
          <!--        <th>sodium chloride (g)</th>-->
          <!--        <th>Ferrocyanure (g/mol)</th>-->

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
        <tr>


          <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>
          <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
          <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
          <td *ngIf="colsfiltre[4].hide">{{ a.humidite==undefined?'-':a.humidite }}</td>
          <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
          <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
          <td *ngIf="colsfiltre[7].hide">{{ a.salimite ==undefined?'-':a.salimite}}</td>
          <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
          <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
          <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
          <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
          <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
          <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
          <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
          <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
          <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
          <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>
  </ng-template>
</p-dialog>
