<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedLaveries()" [disabled]="!selectedLaveries || !selectedLaveries.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getLaverie()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="laveries" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','state','totalquantite','nom','Sbnl']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedLaveries" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Laverie Inventory Management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="state">State <p-sortIcon field="state"></p-sortIcon></th>
            <th pSortableColumn="totalquantite">Total Quantity<p-sortIcon field="totalquantite"></p-sortIcon></th>
            <th pSortableColumn="Sbnl">Unwashed Stock <p-sortIcon field="Sbnl"></p-sortIcon></th>


            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-laverie >
          <tr >
            <td>
              <p-tableCheckbox [value]="laverie"></p-tableCheckbox>
            </td>
            <td><span class="p-column-title">Id</span>
              {{laverie.id}}
            </td>
            <td >
              <span class="p-column-title">Reference</span>
              {{laverie.reference}}
            </td>
            <td >
              <span class="p-column-title">Nom</span>
              {{laverie.nom}}
            </td>
            <td>
              <span class="p-column-title">Description</span>
              {{laverie.description}}
            </td>

            <td >
              <span class="p-column-title">State</span>
              {{laverie.etat}}
            </td>
            <td >
              <span class="p-column-title">Total Quantity</span>
              {{getTotalQuantity(laverie)}}
            </td>

            <td  class="surface-overlay       ">
              <span class="p-column-title">Sbnl</span>
              <span class="pi pi-eye text-3xl text-primary cursor-pointer m-2" (click)="openDialog(laverie)"  ></span>



            </td>
            <td>
              <div class="flex gap-2">
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple  class="p-button-rounded p-button-info mr-2" (click)="AddTransferTo(laverie)">Transfer</button>

                <!--                <button *ngIf="getToken()=='ADMIN'" pButton pRipple  class="p-button-rounded p-button-info " (click)="AddTraitementStock(b)">Traitement</button>-->
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="editLaverie(laverie)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning " (click)="deleteLaverie(laverie)"></button>

              </div>
            </td>
          </tr>

        </ng-template>
      </p-table>
      <p-dialog [(visible)]="detailsDialog" [style]="{width: '1300px'}" header="Stock Unwashed" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">

          <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
            <div class="flex flex-column gap-2 col-2">
              <label> Stock Unwashed List</label>
              <p-dropdown
                [options]="this.laverie.sbnlList"
                [(ngModel)]="selectedSbnl"
                optionLabel="reference"
                placeholder="Select a Stock Unwashed" />
            </div>


          </div>
          <div class="cart mt-5">
            <p-table #dt [loading]="loading"
                     [value]="selectedSbnl.transferToLaverieList!==undefined?selectedSbnl.transferToLaverieList:[]"
                     [columns]="cols"
                     responsiveLayout="scroll" [rows]="10"
                     [globalFilterFields]="['id','date','value']"
                     [paginator]="true"
                     editMode="row"
                     [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                  <div class="flex justify-content-between align-items-center w-full">
                    <h5 class="m-0">Transfer to Laverie management</h5>
                    <div>
            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                  </div>

                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                  <th pSortableColumn="laverie">Laundry <p-sortIcon field="laverie"></p-sortIcon></th>
                  <th pSortableColumn="date">Date Creation<p-sortIcon field="date"></p-sortIcon></th>
                  <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-transfer let-editing="editing" >
                <tr [pEditableRow]="transfer" >

                  <td >
                    <span class="p-column-title">Id</span>
                    {{transfer.id}}
                  </td>
                  <td >
                    <span class="p-column-title">laverie</span>
                    {{transfer.referenceLaverie}}
                  </td>
                  <td >
                    {{transfer.dateCreation|date:'yyyy-MM-dd'}}
                  </td>

                  <td >
                    {{transfer.quantityTransfer}}
                  </td>

                  <td>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="detailsDialog=false"></button>
        </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span >Are you sure you want to delete ?</span>
        </div>
        <ng-template pTemplate="footer">
          <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
          <button  *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
        </ng-template>
      </p-dialog>

    </div>
    <!--==============================ADD TRAITEMENT STOCK===============================================================================-->
    <p-dialog [(visible)]="TraitementStockDialog" [style]="{width: '1300px'}" header="Stock Processing" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <h3>Add Stock Processing</h3>
        <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center gap-2 border border-1 border-round border-gray-400 p-3">
          <div class="">
            <label for="dateCreationr">Date Creation</label>
            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateCreationr"  [(ngModel)]="traitementStock.dateCreation"  />
          </div>
          <div class="">
            <label for="calibreB1">Calibre B1</label>
            <p-inputNumber  id="calibreB1"  [(ngModel)]="traitementStock.calibreB1" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div class="">
            <label for="outputB1">Output B1</label>
            <p-inputNumber  id="outputB1"  [(ngModel)]="traitementStock.sortieB1" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>

          <div class="">
            <label for="calibreB2">Calibre B2</label>
            <p-inputNumber  id="calibreB2"  [(ngModel)]="traitementStock.calibreB2" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div class="">
            <label for="outputB2">Output B2</label>
            <p-inputNumber  id="outputB2"  [(ngModel)]="traitementStock.sortieB2" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div class="">
            <label for="refus">Refus</label>
            <p-inputNumber  id="refus"  [(ngModel)]="traitementStock.refus" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div>
<!--            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTraitementStock()"></button>-->
          </div>
        </div>
        <div class="cart mt-5">
          <p-table #dt [loading]="loading"
                   [value]="ListTraitementStock"
                   [columns]="cols"
                   responsiveLayout="scroll" [rows]="10"
                   [globalFilterFields]="['id','date','calibreB1','calibreB2','outputB2','refus','outputB1']"
                   [paginator]="true"
                   editMode="row"
                   [rowsPerPageOptions]="[10,20,30]"
                   [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <div class="flex justify-content-between align-items-center w-full">
                  <h5 class="m-0">Stock Processing management</h5>

                  <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                  </div>
                </div>

              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="date">Date Traitement<p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="calibreB1">Calibre B1  <p-sortIcon field="calibreB1"></p-sortIcon></th>
                <th pSortableColumn="outputB1">Output B1  <p-sortIcon field="outputB1"></p-sortIcon></th>
                <th pSortableColumn="calibreB2">Calibre B2<p-sortIcon field="calibreB2"></p-sortIcon></th>
                <th pSortableColumn="outputB2">Output B2<p-sortIcon field="outputB2"></p-sortIcon></th>
                <th pSortableColumn="refus">Refus <p-sortIcon field="refus"></p-sortIcon></th>

                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-traitementStock
                         let-editing="editing" >
              <tr [pEditableRow]="traitementStock" >

                <td >
                  <span class="p-column-title">Id</span>
                  {{traitementStock.id}}
                </td>

                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="traitementStock.dateCreation"  />

                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.dateCreation|date:'yyyy-MM-dd'}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="traitementStock.calibreB1" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.calibreB1}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="traitementStock.sortieB1" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.sortieB1}}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="traitementStock.calibreB2" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.calibreB2}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="traitementStock.sortieB2" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.sortieB2}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="traitementStock.refus" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{traitementStock.refus}}
                    </ng-template>
                  </p-cellEditor>
                </td>


                <td>
                  <div class="flex  align-items-center gap-2">
                    <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                              (click)="updateTraitementStock(traitementStock)"
                              class="p-button-rounded   mr-2"></button>
<!--                      <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"-->
<!--                              (click)="saveUpdateTraitementStock()"-->
<!--                              class="p-button-rounded p-button-text  mr-2"></button>-->
                    </div>
                    <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTraitementStock(traitementStock)"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="TraitementStockDialog=false"></button>
      </ng-template>
    </p-dialog>
    <!--==============================ADD TRAITEMENT STOCK===============================================================================-->

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Laverie" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Unwashed</label>
          <p-multiSelect [options]="sbnls"   [(ngModel)]="laverie.sbnlList"  placeholder="Select a Stock Unwashed" optionLabel="reference" display="chip" class="w-full"  ></p-multiSelect>

        </div>
        <div class="field">
          <label for="name">Reference</label>
          <input type="text" pInputText id="name"  [(ngModel)]="laverie.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !laverie.reference}"/>
        </div>
        <div class="field">
          <label >Name</label>
          <input type="text" pInputText   [(ngModel)]="laverie.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !laverie.nom}"/>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="laverie.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !laverie.description}"/>
        </div>



        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="laverie.etat" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !laverie.etat}"/>
        </div>



      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text" (click)="saveLaverie()"></button>
      </ng-template>
    </p-dialog>



    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you really want to delete selected?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
<!--==============================ADD TRANSFER TO BAND===============================================================================-->
<p-dialog [(visible)]="TransferToDialog" [style]="{width: '1300px'}" header="Transfer To " [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <h3>Add Transfer To </h3>
    <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
      <div class="card flex flex-column gap-4 w-full justify-content-center">
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="liwellSieve"
              [(ngModel)]="ingredient"
            />
            <label  class="ml-2">
              Liwell Sieve
            </label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton
              value="greenSieve"
              [(ngModel)]="ingredient"
            />
            <label  class="ml-2">
              Green Sieve
            </label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton
              value="washed"
              [(ngModel)]="ingredient"
            />
            <label  class="ml-2">
          Washed
            </label>
          </div>

        </div>

        <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='liwellSieve'">
          <div class="">
            <label for="value"> Liwell Sieve</label>
            <p-dropdown
              [options]="listCribleLiwells"
              [(ngModel)]="selectedCribleLiwell"
              optionLabel="reference"
              placeholder="Select a Liwell Sieve" />                </div>
          <div class="">
            <label >Date Creation</label>
            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="transferLaverieToCribleLiwell.dateCreation"  />
          </div>
          <div class="">
            <label for="value">Transfer Quantity</label>
            <p-inputNumber  id="value"  [(ngModel)]="transferLaverieToCribleLiwell.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferLaverieToCribleLiwell()"></button>
          </div>
        </div   >
        <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='greenSieve'">
          <div class="">
            <label>Green Sieve</label>
            <p-dropdown
              [options]="listCribleVerts"
              [(ngModel)]="selectedCribleVert"
              optionLabel="reference"
              placeholder="Select a Green Sieve" />
          </div>
          <div class="">
            <label >Date Creation</label>
            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="transferLaverieToCribleVert.dateCreation"  />
          </div>
          <div class="">
            <label for="value">Transfer Quantity</label>
            <p-inputNumber    [(ngModel)]="transferLaverieToCribleVert.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferLaverieToCribleVert()"></button>
          </div>
        </div   >
        <div class="flex align-items-center w-full justify-content-between" *ngIf="ingredient=='washed'">
          <div class="">
            <label>Washed</label>
            <p-dropdown
              [options]="listWasheds"
              [(ngModel)]="selectedWashed"
              optionLabel="reference"
              placeholder="Select a Washed" />
          </div>
          <div class="">
            <label >Date Creation</label>
            <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="transferLaverieToWashed.dateCreation"  />
          </div>
          <div class="">
            <label for="value">Transfer Quantity</label>
            <p-inputNumber    [(ngModel)]="transferLaverieToWashed.quantityTransfer" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
          </div>
          <div>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferLaverieToWashed()"></button>
          </div>
        </div   >

      </div>



    </div>
    <div class="cart mt-5">
      <!------------- CRIBLE LIWELL ---------------------->

      <p-table #dt [loading]="loading"
               [value]="ListTransferLaverieToCribleLiwell"
               [columns]="cols"
               responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['id','date','value']"
               [paginator]="true"
               editMode="row"
               [rowsPerPageOptions]="[10,20,30]"
               *ngIf="ingredient=='liwellSieve'"
               [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">Transfer To  management</h5>

              <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="cribleLiwell">Liwell Sieve <p-sortIcon field="cribleLiwell"></p-sortIcon></th>
            <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TransferLaverieToCribleLiwell
                     let-editing="editing" >
          <tr [pEditableRow]="TransferLaverieToCribleLiwell" >

            <td >
              <span class="p-column-title">Id</span>
              {{TransferLaverieToCribleLiwell.id}}
            </td>
            <td>
              {{TransferLaverieToCribleLiwell.cribleLiwellReference}}
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferLaverieToCribleLiwell.dateCreation"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToCribleLiwell.dateCreation|date:'yyyy-MM-dd'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="TransferLaverieToCribleLiwell.quantityTransfer" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToCribleLiwell.quantityTransfer}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateTransferLaverieToCribleLiwell(TransferLaverieToCribleLiwell)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateTransferLaverieToCribleLiwell()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferLaverieToCribleLiwell(TransferLaverieToCribleLiwell)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!------------- CRIBLE LIWELL ---------------------->
      <!------------- CRIBLE VERT ------------------------>
      <p-table #dt [loading]="loading"
               [value]="ListTransferLaverieToCribleVert"
               [columns]="cols"
               responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['id','date','value']"
               [paginator]="true"
               editMode="row"
               [rowsPerPageOptions]="[10,20,30]"
               *ngIf="ingredient=='greenSieve'"
               [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">Transfer To  management</h5>

              <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="cribleLiwell">Green Sieve <p-sortIcon field="cribleLiwell"></p-sortIcon></th>
            <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TransferLaverieToCribleVert
                     let-editing="editing" >
          <tr [pEditableRow]="TransferLaverieToCribleVert" >

            <td >
              <span class="p-column-title">Id</span>
              {{TransferLaverieToCribleVert.id}}
            </td>
            <td>
              {{TransferLaverieToCribleVert.cribleVertReference}}
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferLaverieToCribleVert.dateCreation"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToCribleVert.dateCreation|date:'yyyy-MM-dd'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="TransferLaverieToCribleVert.quantityTransfer" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToCribleVert.quantityTransfer}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateTransferLaverieToCribleVert(TransferLaverieToCribleVert)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateTransferLaverieToCribleVert()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferLaverieToCribleVert(TransferLaverieToCribleVert)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!------------- CRIBLE VERT ------------------------>
      <!------------- Washed ------------------------>
      <p-table #dt [loading]="loading"
               [value]="ListTransferLaverieToWashed"
               [columns]="cols"
               responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['id','date','value']"
               [paginator]="true"
               editMode="row"
               [rowsPerPageOptions]="[10,20,30]"
               *ngIf="ingredient=='washed'"
               [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">Transfer To  management</h5>

              <div>


            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="cribleLiwell">Washed </th>
            <th pSortableColumn="date">Date Transfer<p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="value">Transfer Quantity <p-sortIcon field="value"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TransferLaverieToWashed
                     let-editing="editing" >
          <tr [pEditableRow]="TransferLaverieToWashed" >

            <td >
              <span class="p-column-title">Id</span>
              {{TransferLaverieToWashed.id}}
            </td>
            <td>
              {{TransferLaverieToWashed.cribleVertReference}}
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="TransferLaverieToWashed.dateCreation"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToWashed.dateCreation|date:'yyyy-MM-dd'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="TransferLaverieToWashed.quantityTransfer" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{TransferLaverieToWashed.quantityTransfer}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateTransferLaverieToWashed(TransferLaverieToWashed)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateTransferLaverieToWashed()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteTransferLaverieToWashed(TransferLaverieToWashed)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!------------- Washed------------------------>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="TransferToDialog=false"></button>
  </ng-template>
</p-dialog>
<!--==============================ADD TRANSFER TO BAND===============================================================================-->



