<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2  ">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPuits()" [disabled]="!selectedPuits || !selectedPuits.length"></button>
            <button pButton pRipple label="Actualiser" icon="pi pi-trash" class="p-button-primary" (click)="getAllPuit()"  ></button>

          </div>


        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="puits" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','nom','emplacement','etat','dateFermeture']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du  {first} au  {last} des  {totalRecords} entrées" [(selection)]="selectedPuits" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des Puits</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
             <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Date Creation<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Emplacement <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">Etat <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="dateFermeture">Date Fermeture <p-sortIcon field="dateFermeture"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-puit >
          <tr >
            <td>
              <p-tableCheckbox [value]="puit"></p-tableCheckbox>
            </td>

            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{puit.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{puit.description}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Date Creation</span>
              {{puit.dateCreation}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Nom</span>
              {{puit.nom}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Emplacement</span>
              {{puit.emplacement}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Etat</span>
              {{puit.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Date Fermeture</span>
              {{puit.dateFermeture}}
            </td>
            <td>
              <div class="flex ">
                 <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPuit(puit)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deletePuit(puit)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(puit)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nouveau puit " [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Référence</label>
          <input type="text" pInputText id="name"  [(ngModel)]="puit.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !puit.reference">Réference obligatoire</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <textarea rows="3" cols="30" type="text" pInputText id="Description"  [(ngModel)]="puit.description" required autofocus  ></textarea>
         </div>

        <div class="field">
          <label for="dateCreation">Date Creation</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateCreation" [(ngModel)]="puit.dateCreation"    [showIcon]="true"></p-calendar>
<!--          <input type="text" pInputText id="dateCreation"  [(ngModel)]="puit.dateCreation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.dateCreation}"/>-->
         </div>
        <div class="field">
          <label for="nom">Nom</label>
          <input type="text" pInputText id="nom"  [(ngModel)]="puit.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.nom}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !puit.nom">Nom obligatoire.</small>
        </div>
        <div class="field">

          <label for="emplacement">Emplacement</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="puit.emplacement" required autofocus  />
         </div>
        <div class="field">
          <label for="etat">Etat</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="puit.etat" required autofocus  />
         </div>
        <div class="field">
          <label for="dateFermeture">Date Fermeture</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateFermeture" class="border border-gray-300 shadow p-3 w-full rounded mb-" [(ngModel)]="puit.dateFermeture"    [showIcon]="true"></p-calendar>
         </div>

      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="savePuit()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Êtes-vous sûr de vouloir supprimer <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Voulez-vous vraiment supprimer des produits sélectionnés ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


