<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2  ">
            <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedPuits()" [disabled]="!selectedPuits || !selectedPuits.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllPuit()"  ></button>

          </div>


        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="puits" [columns]="cols" [loading]="loading"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateCreation','nom','emplacement','etat','dateFermeture']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedPuits" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">well management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
             <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Creation Date<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Location <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">State <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="dateFermeture">Closing Date <p-sortIcon field="dateFermeture"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-puit >
          <tr >
            <td>
              <p-tableCheckbox [value]="puit"></p-tableCheckbox>
            </td>

            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{puit.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{puit.description}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Creation Date</span>
              {{puit.dateCreation}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Name</span>
              {{puit.nom}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Location</span>
              {{puit.emplacement}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">State</span>
              {{puit.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Closing Date</span>
              {{puit.dateFermeture}}
            </td>
            <td>
              <div class="flex ">
                 <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPuit(puit)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deletePuit(puit)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(puit)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="New well" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Référence</label>
          <input type="text" pInputText id="name"  [(ngModel)]="puit.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !puit.reference">Mandatory reference</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <textarea rows="3" cols="30" type="text" pInputText id="Description"  [(ngModel)]="puit.description" required autofocus  ></textarea>
         </div>

        <div class="field">
          <label for="dateCreation">Creation Date</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateCreation" [(ngModel)]="puit.dateCreation"    [showIcon]="true"></p-calendar>
<!--          <input type="text" pInputText id="dateCreation"  [(ngModel)]="puit.dateCreation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.dateCreation}"/>-->
         </div>
        <div class="field">
          <label for="nom">Name</label>
          <input type="text" pInputText id="nom"  [(ngModel)]="puit.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !puit.nom}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !puit.nom">Name required.</small>
        </div>
        <div class="field">

          <label for="emplacement">Location</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="puit.emplacement" required autofocus  />
         </div>
        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="puit.etat" required autofocus  />
         </div>
        <div class="field">
          <label for="dateFermeture">Closing Date</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateFermeture" class="border border-gray-300 shadow p-3 w-full rounded mb-" [(ngModel)]="puit.dateFermeture"    [showIcon]="true"></p-calendar>
         </div>

      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text" (click)="savePuit()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete? <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you really want to delete selected?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>



<!--PrintPDF Rapport-->

<p-dialog header="Analyse chimique" [(visible)]="visiblePrint" [modal]="true"   [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
<div class="shadow-1 p-2" >filtrate :

  <div class="card flex justify-content-evenly ">
   <div class="gap-1 flex align-items-center">Analysis start date  :
     <input  class="p-2 shadow-1" type="date" pInputText    [(ngModel)]="DatefiltrageStart" [value]="DatefiltrageStart" />

    </div>
    <div class="gap-1  flex align-items-center">
    Date End Analysis  :
      <input  class="p-2 shadow-1" type="date"  pInputText   [(ngModel)]="DatefiltrageEnd" [value]="DatefiltrageEnd" />

     </div>
    <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Search"></p-button>
    <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-eye" label="View all"></p-button>

  </div>
  <p-checkbox [(ngModel)]="SelectAll" (ngModelChange)="SelectAllCheck()" [binary]="true" inputId="binary" class="text-primary" label="All"></p-checkbox>

  <th *ngFor="let c of colsfiltre">

    <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

  </th>
</div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">

    <div class="flex border-1 w-full justify-content-between">
      <div class="flex-initial flex align-items-center justify-content-center   font-bold m-2 px-5 py-3 border-round">
        <img src="assets/layout/images/logo.png">

      </div>
      <div class="flex-initial flex align-items-center justify-content-center  text-6xl font-bold m-2 px-5 py-3 border-round">
        Analysis Report
      </div>
      <div class="flex-initial border-1 flex     w-25  font-bold m-2 px-5 py-3  ">
        <div class="col   ">
          <div class="row  mb-2    w-full  ">BEN GUERDANE, TUNISIA  </div>
          <div class="row mb-2   w-full text-center    text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd hh:ss a"}}</div>

        </div>
      </div>
    </div>






 <div class="mt-5 mb-5 flex flex-column gap-2">

  <div>
    <label class="text-2xl    font-bold">Name borehole :</label><span class=" ml-2 text-2xl">{{selectedPuitPrint.nom}}</span>
 </div>
   <div>
    <label class="text-2xl    font-bold">Reference pool  :</label><span class="ml-2 text-2xl">{{selectedPuitPrint.reference}}</span>
   </div>
    <div>
     <label class="text-2xl  font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{selectedPuitPrint.dateCreation}}</span>
    </div>
    </div>
    <label class=" mt-2   text-2xl font-bold">Reported by </label><span class=" ml-2 font-bold text-1xl">{{ReportedBy}}</span>

  <p-table #dt1 [value]="getAnalyse()"  id="EXCEL" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' ,'margin-top':'5rem' }"
           dataKey="id"
           [showCurrentPageReport]="true"
           [globalFilterFields]="['dateAnalyse']"



   >


    <ng-template pTemplate="header">
      <tr>

        <th *ngFor="let c of getColsfiltr()">
          {{ c.header}}
        </th>


<!--       <th>-->
<!--         <p-columnFilter type="date" field="dateAnalyse" display="menu"></p-columnFilter>-->

<!--         Analysis Date</th>-->


<!--        <th>Temperature °C</th>-->
<!--        <th>wind (km/h)</th>-->
<!--        <th>humidity  </th>-->
<!--        <th>Densite (g/cm 3)</th>-->
<!--        <th>Suspended Matter (g)</th>-->
<!--        <th>salinite (psu)</th>-->
<!--        <th>Calcium (mmol/L)</th>-->
<!--        <th>Magnesium (g)</th>-->
<!--        <th>Sulfate (g)</th>-->
<!--        <th>Insoluble matter (g)</th>-->
<!--        <th>Potassium (mmol/L)</th>-->
<!--        <th>Sodium (mmol)</th>-->
<!--        <th>Chlorure (meq · L–1)</th>-->
<!--        <th>pH</th>-->
<!--        <th>sodium chloride (g)</th>-->
<!--        <th>Ferrocyanure (g/mol)</th>-->

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-a>
      <tr>


        <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>
        <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
        <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
        <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
        <td *ngIf="colsfiltre[4].hide">{{ a.humidite==undefined?'-':a.humidite }}</td>
        <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
        <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
        <td *ngIf="colsfiltre[7].hide">{{ a.salinite ==undefined?'-':a.salinite}}</td>
        <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
        <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
        <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
        <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
        <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
        <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
        <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
        <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
        <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
        <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>
    <p-button icon="pi pi-file-excel" (click)="SaveExcel()" class="text-green-50" label="EXCEL" pAutoFocus [autofocus]="true"  ></p-button>

  </ng-template>
</p-dialog>
