<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">

          <div class="flex  justify-content-between w-full overflow-auto  ">

            <div class="flex">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'"  pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedBassins()" [disabled]="!selectedBassins || !selectedBassins.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllBassin()"  ></button>
            </div>
            <div class="flex   ">
              <div class="">
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-info mr-2"  (click)="exportRecolte(bassin)">All Harvsets</button>
              </div>
              <div class="">
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-secondary mr-2"  (click)=" exportSondage()">Survey</button>
              </div>


            </div>



          </div>


      </p-toolbar>

      <p-table #dt [loading]="loading" [value]="bassins" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['surface','etat','id','emplacement','nom','dateCreation','reference','description']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedBassins" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Pond management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Creation Date<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Location <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">State <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="surface">Surface m² <p-sortIcon field="surface"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bassin >
          <tr >
            <td>
              <p-tableCheckbox [value]="bassin"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{bassin.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{bassin.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{bassin.description}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Creation Date</span>
              {{bassin.dateCreation| date :'dd-mm-yyyy' }}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Name</span>
              {{bassin.nom}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Location</span>
              {{bassin.emplacement}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">State</span>
              {{bassin.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Surface m²</span>
              {{bassin.surface}}
            </td>
            <td>
              <div class="flex">
                <button *ngIf="getToken()=='ADMIN'||'EMPLOYER'" pButton pRipple  class="p-button-rounded p-button-info mr-2" (click)="AddRecolte(bassin)">Harvest</button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple  class="p-button-rounded p-button-secondary mr-2" (click)="AddSondage(bassin)">Survey</button>

                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBassin(bassin)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteBassin(bassin)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(bassin)"></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Pond details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
        <label for="name">Well</label>
          <p-dropdown [options]="puits" [(ngModel)]="bassin.bassinPuit" [editable]="true" optionLabel="reference" class="w-full"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !bassin.bassinPuit}"></p-dropdown>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.bassinPuit">Puit est requis.</small>
        </div>

        <div class="field">
          <label for="name">Reference</label>
          <input type="text" pInputText id="name"  [(ngModel)]="bassin.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bassin.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.reference">Reference est requis.</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="bassin.description" />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.description">Pseudo is required.</small>-->
        </div>

        <div class="field">
          <label for="dateCreation">Creation Date</label>
          <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateCreation"  [(ngModel)]="bassin.dateCreation"  />
        </div>
        <div class="field">
          <label for="nom">Name</label>
          <input type="text" pInputText id="nom"  [(ngModel)]="bassin.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bassin.nom}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.nom">Name est requis.</small>
        </div>
        <div class="field">
          <label for="emplacement">Location</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="bassin.emplacement" required autofocus />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.emplacement">Telephone is required.</small>-->
        </div>
        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="bassin.etat" />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.etat">Telephone is required.</small>-->
        </div>
        <div class="field">
          <label for="surface">Surface m²</label>
          <p-inputNumber  id="surface"  [(ngModel)]="bassin.surface" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !bassin.surface">Telephone is required.</small>-->
        </div>

      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBassin()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog  class="p-fluid" [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center   justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center overflow-auto" >
        <i class="pi pi-exclamation-triangle mr-3" ></i>
        <span>Are you sure you want to delete?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>



<p-dialog header="Chemical and particle size analysis" [(visible)]="visiblePrint" [modal]="true" [style]="{width: '100%'}"     >
  <ng-template pTemplate="content">

  <div class="shadow-1 p-2  " >chemical filtration  :

    <div class="card flex justify-content-evenly ">
      <div class="gap-1 flex align-items-center">Analysis start date  :
        <input  class="p-2 shadow-1" type="date" pInputText    [(ngModel)]="DatefiltrageStart" [value]="DatefiltrageStart" />

      </div>
      <div class="gap-1  flex align-items-center">
        Date End Analysis  :
        <input  class="p-2 shadow-1" type="date"  pInputText   [(ngModel)]="DatefiltrageEnd" [value]="DatefiltrageEnd" />

      </div>
      <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Search"></p-button>
      <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-refresh" label="Refresh"></p-button>

    </div>
    <div class="shadow-1 p-2 overflow-auto">
      <p-checkbox [(ngModel)]="SelectAll" (ngModelChange)="SelectAllCheck()" [binary]="true" inputId="binary" class="text-primary" label="All"></p-checkbox>

      <th *ngFor="let c of colsfiltre"  >

        <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

      </th>
    </div>
    <br>
    <div class="shadow-1 p-2 gap-1 text-3xl flex inline-flex justify-content-evenly" >filtrate Grain size  :<br>
      <p-listbox [options]=" SelectetBassin.analysesPhysiques!==undefined?SelectetBassin.analysesPhysiques:[]" [(ngModel)]="SelectedPrintAnalysePhysique" optionLabel="reference" [filter]="true" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}"></p-listbox>
      <div *ngIf="SelectedPrintAnalysePhysique.hasOwnProperty('id')" class="p-2">
        <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedPrintAnalysePhysique.reference}}</span><br>
        <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.matiere}}</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.temperature}} °C</span><br>
        <label class="text-2xl font-bold">Date </label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.dateAnalyse}}</span><br>
      </div>
    </div>
  </div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">
    <img src="assets/layout/images/logo.png">
    <div class="row justify-content-end font-bold flex text-1xl"> Creation date: <span class=" text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd"}}</span></div>
    <div class="row    font-bold flex text-1xl   "> Identification :<span class=" text-1xl font-bold   "> {{SelectetBassin.reference}}</span></div>

    <div class="row   text-8xl font-bold text-center m-2 p-3" > Analysis Report </div>
    <div class="mt-5 mb-5">

      <label class="font-bold text-5xl  ">Chemical analysis</label>
      <br><br><br><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectetBassin.reference}}</span><br>
      <label class="text-2xl font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{SelectetBassin.dateCreation}}</span><br>


    </div>

    <p-table #dt1 [value]="this.SelectetBassin.analysesChimiques !== undefined ? this.SelectetBassin.analysesChimiques : []" [tableStyle]="{ 'min-width': '50rem' }"
             dataKey="id" id="EXCEL"
             [showCurrentPageReport]="true"
             [globalFilterFields]="['dateAnalyse']"



    >


      <ng-template pTemplate="header">
        <tr>

          <ng-container  *ngFor="let c of getColsfiltr()">
            <th class="ml-2 mr-2">{{ c.header }}</th>
          </ng-container>


          <!--       <th>-->
          <!--         <p-columnFilter type="date" field="dateAnalyse" display="menu"></p-columnFilter>-->

          <!--         Analysis Date</th>-->


          <!--        <th>Temperature °C</th>-->
          <!--        <th>wind (km/h)</th>-->
          <!--        <th>humidity  </th>-->
          <!--        <th>Densite (g/cm 3)</th>-->
          <!--        <th>Suspended Matter (g)</th>-->
          <!--        <th>salinite (psu)</th>-->
          <!--        <th>Calcium (mmol/L)</th>-->
          <!--        <th>Magnesium (g)</th>-->
          <!--        <th>Sulfate (g)</th>-->
          <!--        <th>Insoluble matter (g)</th>-->
          <!--        <th>Potassium (mmol/L)</th>-->
          <!--        <th>Sodium (mmol)</th>-->
          <!--        <th>Chlorure (meq · L–1)</th>-->
          <!--        <th>pH</th>-->
          <!--        <th>sodium chloride (g)</th>-->
          <!--        <th>Ferrocyanure (g/mol)</th>-->

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
        <tr>


          <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>

          <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
          <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
          <td *ngIf="colsfiltre[4].hide">{{ a.humidite==undefined?'-':a.humidite }}</td>
          <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
          <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
          <td *ngIf="colsfiltre[7].hide">{{ a.salinite ==undefined?'-':a.salinite}}</td>
          <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
          <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
          <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
          <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
          <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
          <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
          <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
          <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
          <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
          <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>
          <td *ngIf="colsfiltre[18].hide" >{{ a.description==undefined?'-':a.description }}</td>
        </tr>
      </ng-template>
    </p-table>
    <br><br><br><br>

    <label class="font-bold top-5 text-5xl">Grain Size</label>
    <br><br><br><br>
    <div class=" top-5 bottom-5">
      <label class="text-2xl font-bold">Date   :</label><span class="ml-2 text-2xl">{{SelectedPrintAnalysePhysique.dateAnalyse}}</span><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedPrintAnalysePhysique.reference}}</span><br>
      <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.matiere}}</span><br>
      <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.temperature}} °C</span><br>
      <label class="text-2xl font-bold">Description :</label><span class=" ml-2 text-2xl">{{SelectedPrintAnalysePhysique.description}} </span><br>
    </div>
    <br><br><br>
    <p-table class=" " #dt [value]="getTamisFiltred()" [columns]="cols"  responsiveLayout="scroll" id="TAMIS"      dataKey="id">

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="dateintervention">Calibre <p-sortIcon field="dateintervention"></p-sortIcon></th>
          <th pSortableColumn="qui">Weight <p-sortIcon field="qui"></p-sortIcon></th>
          <th pSortableColumn="natureAction">Refus <p-sortIcon field="natureAction"></p-sortIcon></th>
          <th pSortableColumn="resultat">Refus Cumulated<p-sortIcon field="resultat"></p-sortIcon></th>
          <th pSortableColumn="certificat">pass Cumulated <p-sortIcon field="certificat"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td >
            {{tamis.calibre}}
          </td>
          <td>
            {{tamis.masse}}
          </td>
          <td >
            {{tamis.refus}}

          </td>

          <td >
            {{tamis.refusCumulated}}
          </td>
          <td>
            {{tamis.passCumulated}}
          </td>


        </tr>
      </ng-template>
    </p-table>



  </div>
  </ng-template>

    <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>
    <button type="button" pButton pRipple  icon="pi pi-file-excel" (click)="ExportExcel()" class="p-button-success" label="EXCEL" pAutoFocus [autofocus]="true"  ></button>
    <button type="button" pButton pRipple icon="pi pi-file" (click)="exportcsv()" class="p-button-warning " label="CSV" pTooltip="CSV" ></button>

  </ng-template>
</p-dialog>
<p-dialog [(visible)]="RecolteDialog" [style]="{width: '1000px'}" header="Harvest" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <h3>Add Harvest</h3>
<div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
    <div class="">
      <label for="dateCreationr">Date Creation</label>
      <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateCreationr"  [(ngModel)]="recolte.dateCreation"  />
    </div>

    <div class="">
      <label for="value">Value</label>
      <p-inputNumber  id="value"  [(ngModel)]="recolte.value" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
    </div>
  <div>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRecolte()"></button>
  </div>
</div>
    <div class="cart mt-5">
      <p-table #dt [loading]="loading"
               [value]="recoltes"
               [columns]="cols"
               responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['surface','etat','id','emplacement','nom','dateCreation','reference','description']"
               [paginator]="true"
               editMode="row"
               [rowsPerPageOptions]="[10,20,30]"
               [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedBassins" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
            <h5 class="m-0">Harvest management</h5>
              <div>
            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Date Harvest<p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Value <p-sortIcon field="description"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-recolte let-editing="editing" >
          <tr [pEditableRow]="recolte" >
            <td>
              <p-tableCheckbox [value]="recolte"></p-tableCheckbox>
            </td>
            <td >
              <span class="p-column-title">Id</span>
              {{recolte.id}}
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="recolte.dateCreation"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{recolte.dateCreation|date:'dd-MM-yyyy'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="recolte.value" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{recolte.value}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateRecolte(recolte)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateRecolte()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteRecolte(recolte)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </ng-template>




  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hideDialogRecolte()"></button>
  </ng-template>
</p-dialog>
<p-dialog header="" [(visible)]="RecoltePDF" [modal]="true" [style]="{width: '100%'}"     >
  <ng-template pTemplate="content">

    <div class="shadow-1 p-2  " >Pond filtration  :

      <div class="card flex justify-content-evenly align-items-center ">
        <p-multiSelect
          [options]="bassins"
          [(ngModel)]="selectedBassins"
          optionLabel="nom"
          placeholder="Select Ponds" />
        <div class="gap-1 flex align-items-center">Date Start :
          <p-calendar
            [(ngModel)]="dateStart"
            view="month"
            dateFormat="mm-yy"
            [readonlyInput]="true" />
        </div>
        <div class="gap-1  flex align-items-center">
          Date End :
          <p-calendar
            [(ngModel)]="dateEnd"
            view="month"
            dateFormat="mm-yy"
            [readonlyInput]="true" />
        </div>

        <p-button (click)="getMonthsBetweenDates(dateStart,dateEnd)" class=" " icon="pi pi-search" label="Search"></p-button>

      </div>

    </div>


    <div #pdfpuit class="pt-8 pl-4 pr-4">
      <div class="flex border-1 w-full justify-content-between mb-6">
        <div class="flex-initial flex align-items-center justify-content-center   font-bold m-2 px-5 py-3 border-round">
          <img src="assets/layout/images/logo.png">

        </div>
        <div class="flex-initial flex align-items-center justify-content-center  text-6xl font-bold m-2 px-5 py-3 border-round">
          Harvest
        </div>
        <div class="flex-initial border-1 flex     w-25  font-bold m-2 px-5 py-3  ">
          <div class="col   ">
            <div class="row  mb-2    w-full  ">BEN GUERDANE, TUNISIA  </div>
            <div class="row mb-2   w-full text-center    text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd hh:ss a"}}</div>

          </div>
        </div>
      </div>

      <p-table class=" " #dt [value]="listSumRecolte" [columns]="cols"  responsiveLayout="scroll"  [globalFilterFields]="['pondName']"    dataKey="id">

        <ng-template pTemplate="header" >
          <tr>

            <th pSortableColumn="nom"> Pond Name <p-sortIcon field="nom"></p-sortIcon></th>
            <ng-container *ngFor="let month of months" >
            <th >{{getMonthName(month)}} </th>
            </ng-container>
            <th>Total/Pond</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-recolte let-ri="rowIndex">

          <tr   >

              <td> {{recolte.nom}}</td>
            <td   *ngFor="let m of months" >
                {{getMonthByBassinRecolte(recolte,m)}}

            </td>
            <td   >
              {{getTotalPerPond(recolte)}}
            </td>

          </tr>
          <tr *ngIf="ri+1==listSumRecolte.length" class="bg-green-200">
            <td>Total/Month</td>
            <td   *ngFor="let m of months" >
              {{getTotalPerMonth(m)}}

            </td>
            <td>{{getTotlBassins()}}</td>
          </tr>
        </ng-template>
      </p-table>



    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>

  </ng-template>
</p-dialog>
<!--====================================sondage=============================-->
<p-dialog [(visible)]="SondageDialog" [style]="{width: '1200px'}" header="Survey" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <h3>Add Survey</h3>
    <div class="flex justify-content-between align-items-center border border-1 border-round border-gray-400 p-3">
      <div class="">
        <label for="dateDebut">Start Date</label>
        <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateDebut"  [(ngModel)]="sondage.dateDebut"  />
      </div>
      <div class="">
        <label for="dateFin">End Date</label>
        <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateFin"  [(ngModel)]="sondage.dateFin"  />
      </div>
      <div class="">
        <label for="Thickness">Thickness</label>
        <p-inputNumber  id="Thickness"  [(ngModel)]="sondage.epaisseur" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
      </div>
      <div class="">
        <label for="Densite">Densite</label>
        <p-inputNumber  id="Densite"  [(ngModel)]="sondage.densite" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
      </div>
      <div class="flex align-items-center">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSondage()"></button>
      </div>
    </div>
    <div class="cart mt-5">
      <p-table #dt [loading]="loading"
               [value]="sondages"
               [columns]="cols"
               responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['surface','etat','id','emplacement','nom','dateCreation','reference','description']"
               [paginator]="true"
               editMode="row"
               [rowsPerPageOptions]="[10,20,30]"
               [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedBassins" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">Survey management</h5>
              <div>
            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="startDate">Start Date<p-sortIcon field="startDate"></p-sortIcon></th>
            <th pSortableColumn="endDate">End Date<p-sortIcon field="endDate"></p-sortIcon></th>
            <th pSortableColumn="thickness">Thickness <p-sortIcon field="thickness"></p-sortIcon></th>
            <th pSortableColumn="densite">Densite <p-sortIcon field="densite"></p-sortIcon></th>
            <th pSortableColumn="mass">Mass <p-sortIcon field="mass"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sondage let-editing="editing" >
          <tr [pEditableRow]="sondage" >
            <td>
              <p-tableCheckbox [value]="sondage"></p-tableCheckbox>
            </td>
            <td >
              <span class="p-column-title">Id</span>
              {{sondage.id}}
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="sondage.dateDebut"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{sondage.dateDebut|date:'dd-MM-yyyy'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="sondage.dateFin"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{sondage.dateFin|date:'dd-MM-yyyy'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="sondage.epaisseur" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{sondage.epaisseur}}
                </ng-template>
              </p-cellEditor>

            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="sondage.densite" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{sondage.densite}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <span class="p-column-title">Id</span>
              {{getMassSondage(sondage)}}
            </td>
            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateSondage(sondage)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateSondage()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteSondage(sondage)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </ng-template>




  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hideDialogSondage()"></button>
  </ng-template>
</p-dialog>
<p-dialog header="" [(visible)]="SondaePDF" [modal]="true" [style]="{width: '100%'}"     >
  <ng-template pTemplate="content">

    <div class="shadow-1 p-2  " >

      <div class="card flex justify-content-evenly align-items-center ">
        <p-fieldset legend="First period"   >
          <div class=" flex gap-1">
        <div class="gap-1 flex align-items-center">Date Start :

          <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"  pInputText   [(ngModel)]="dateStartSondage"  />

        </div>
        <div class="gap-1  flex align-items-center">
          Date End :

          <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndSondage"  />

        </div>
          </div>
        </p-fieldset>
       <p-fieldset legend="Second period" >
         <div class=" flex gap-1">
        <div class="gap-1 flex align-items-center">Date Start :

          <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartSondageS2"  />

        </div>
        <div class="gap-1  flex align-items-center">
          Date End :

          <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndSondageS2"  />

        </div>
         </div>
       </p-fieldset>
        <p-button (click)="filtreListSondageWithDate(dateStartSondage,dateEndSondage,dateStartSondageS2,dateEndSondageS2)" class=" " icon="pi pi-search" label="Search"></p-button>

      </div>

    </div>


    <div #pdfpuit class="pt-8 pl-4 pr-4">
      <div class="flex border-1 w-full justify-content-between mb-6">
        <div class="flex-initial flex align-items-center justify-content-center   font-bold m-2 px-5 py-3 border-round">
          <img src="assets/layout/images/logo.png">

        </div>
        <div class="flex-initial flex align-items-center justify-content-center  text-6xl font-bold m-2 px-5 py-3 border-round">
          Survey
        </div>
        <div class="flex-initial border-1 flex     w-25  font-bold m-2 px-5 py-3  ">
          <div class="col   ">
            <div class="row  mb-2    w-full  ">BEN GUERDANE, TUNISIA  </div>
            <div class="row mb-2   w-full text-center    text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd hh:ss a"}}</div>

          </div>
        </div>
      </div>
      <div class="flex gap-4 w-full justify-content-end mb-2">
        <p-fieldset legend="Production"  >
          <span class="pi pi-arrow-up bg-green-200 p-2  text-3xl font-bold   ">{{roundToDecimalPlaces(totalFabrique,3)}}</span>

        </p-fieldset>
        <p-fieldset legend="Wasting" >

          <span class=" pi pi-arrow-down bg-red-200 p-2 text-3xl font-bold">{{roundToDecimalPlaces(totalperdue,3)}}</span>
        </p-fieldset>
      </div>
      <p-table class=" " #dt [value]="bassinsCopy" [columns]="cols"  responsiveLayout="scroll"  [globalFilterFields]="['pondName']"    dataKey="id">

        <ng-template pTemplate="header" >
          <tr>

            <th pSortableColumn="nom"> Pond Name <p-sortIcon field="nom"></p-sortIcon></th>

            <th>Surface</th>

            <th>Weight {{getMonthNameDate(  dateStartSondage)}}-->{{getMonthNameDate(dateEndSondage)}} ({{getYearDate(dateStartSondage)}})</th>
            <th>Weight {{getMonthNameDate(  dateStartSondageS2)}}-->{{getMonthNameDate(dateEndSondageS2)}} ({{getYearDate(dateStartSondageS2)}})</th>
            <th >Harvest {{getMonthNameDate(  dateStartSondageS2)}}-->{{getMonthNameDate(dateEndSondageS2)}} ({{getYearDate(dateStartSondageS2)}})</th>
            <th>Wasting</th>
            <th>Production</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bassinSondage let-ri="rowIndex">

          <tr >

            <td> {{bassinSondage.nom}}</td>
            <td> {{bassinSondage.surface}}</td>
            <ng-container *ngIf="bassinSondage.sondageList.length==0">
              <td>0</td>
              <td>0</td>
            </ng-container>
            <ng-container *ngFor="let sondage of bassinSondage.sondageList">

              <td>
            {{ roundToDecimalPlaces(getMassSondagePdf(bassinSondage,sondage),3)}}
            </td>
              <td *ngIf="bassinSondage.sondageList.length==1">

              </td>
             </ng-container>
              <td>
               {{getTotalRecole(bassinSondage)}}
             </td>
              <td [ngClass]="{'bg-red-200':true}">

                {{(getPert(bassinSondage,1)<0 && bassinSondage.sondageList!==undefined )?roundToDecimalPlaces(getPert(bassinSondage,1),3):"0"}}
              </td>
              <td [ngClass]="{'bg-green-200':true}">

              {{(getPert(bassinSondage,1)>0 &&   bassinSondage.sondageList!==undefined )?roundToDecimalPlaces(Math.abs(getPert(bassinSondage,1)),3):("0") }}
            </td>
          </tr>
        </ng-template>
      </p-table>



    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>

  </ng-template>
</p-dialog>
