<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button  *ngIf="getToken()=='ADMIN'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedSbls()" [disabled]="!selectedSbls || !selectedSbls.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllSbl()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [value]="sbls" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','reference','description','dateStock','emplacement','etat','quantite','type']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedSbls" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Management of washed stock</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="dateStock">Date Stock<p-sortIcon field="dateStock"></p-sortIcon></th>
            <th pSortableColumn="emplacement">Location <p-sortIcon field="emplacement"></p-sortIcon></th>
            <th pSortableColumn="etat">State <p-sortIcon field="etat"></p-sortIcon></th>
            <th pSortableColumn="quantite">Quantity <p-sortIcon field="quantite"></p-sortIcon></th>
            <th pSortableColumn="type">Band <p-sortIcon field="type"></p-sortIcon></th>
            <th>Action</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sbl >
          <tr >
            <td>
              <p-tableCheckbox [value]="sbl"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{sbl.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Reference</span>
              {{sbl.reference}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Description</span>
              {{sbl.description}}


            </td>


            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Date Stock</span>
              {{sbl.dateStock}}
            </td>

            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Location</span>
              {{sbl.emplacement}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">State</span>
              {{sbl.etat}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Quantity</span>
              {{sbl.quantite}}
            </td>
            <td style="width:14%; min-width:8rem;">

              <span class="p-column-title">Band</span>
              {{sbl.sblBande.reference }}
              <span class="pi pi-eye text-primary cursor-pointer m-2" (click)="opSBL.toggle($event)"  ></span>
              <p-overlayPanel #opSBL>

                <label class="text-2xl">Réf : {{sbl.sblBande.reference}}</label><br>
                <label class="text-2xl">Description : {{sbl.sblBande.description}}
                </label ><br>
                <label class="text-2xl">State : {{sbl.sblBande.etat}}</label><br>
                <label class="text-2xl">Quantity : {{sbl.sblBande.quantite}}</label><br>
                <label class="text-2xl">Location : {{sbl.sblBande.emplacement}}</label><br>
              </p-overlayPanel>
            </td>
            <td>
              <div class="flex ">
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSbl(sbl)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteSbl(sbl)"></button>
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-primary mr-2"  (click)="exportrapport(sbl)"></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Washed" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label>Band</label>
          <p-dropdown [options]="bandes" [(ngModel)]="sbl.sblBande" [editable]="true" optionLabel="reference" class="w-full"></p-dropdown>
        </div>
        <div class="field">
          <label for="reference">Reference</label>
          <input type="text" pInputText id="reference"  [(ngModel)]="sbl.reference" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !sbl.reference}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbl.reference">Reference is required.</small>
        </div>
        <div class="field">
          <label for="Description">Description</label>
          <input type="text" pInputText id="Description"  [(ngModel)]="sbl.description" required autofocus />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbl.description">Pseudo is required.</small>-->
        </div>

        <div class="field">
          <label for="dateStock">Date Stock</label>
          <p-calendar dateFormat="yy-mm-dd" id="dateStock" [(ngModel)]="sbl.dateStock"   [showIcon]="true"></p-calendar>
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbl.dateStock">poste is required.</small>-->
        </div>

        <div class="field">

          <label for="emplacement">Location</label>
          <input type="text" pInputText id="emplacement"  [(ngModel)]="sbl.emplacement" required autofocus />
<!--          <small class="ng-dirty ng-invalid" *ngIf="submitted && !sbl.emplacement">Telephone is required.</small>-->
        </div>



        <div class="field">
          <label for="etat">State</label>
          <input type="text" pInputText id="etat"  [(ngModel)]="sbl.etat" required autofocus />
        </div>
        <div class="field">
          <label for="quantite">Quantity</label>
          <p-inputNumber Id="quantite" mode="decimal" [minFractionDigits]="3" [(ngModel)]="sbl.quantite"   ></p-inputNumber>

        </div>





      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Yes" icon="pi pi-check" class="p-button-text" (click)="saveSbl()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete<b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Do you really want to delete?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>


<p-dialog header="Chemical and particle size analysis" [(visible)]="visiblePrint" [modal]="true"   [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="shadow-1 p-2  " >chemical filtration  :

    <div class="card flex justify-content-evenly ">
      <div class="gap-1 flex align-items-center">Analysis start date  :<p-calendar [(ngModel)]="DatefiltrageStart"  ></p-calendar>
      </div>
      <div class="gap-1    flex align-items-center">
        Date End Analysis  :<p-calendar [(ngModel)]="DatefiltrageEnd"  ></p-calendar>
      </div>
      <p-button (click)="filtredate()" class=" " icon="pi pi-search" label="Search"></p-button>
      <p-button (click)="Viderfiltredate()" class=" " icon="pi pi-refresh" label="Refresh"></p-button>

    </div>
    <div class="shadow-1 p-2">
      <p-checkbox [(ngModel)]="SelectAll" (ngModelChange)="SelectAllCheck()" [binary]="true" inputId="binary" class="text-primary" label="All"></p-checkbox>

      <th *ngFor="let c of colsfiltre">

        <p-checkbox [(ngModel)]="c.hide" label=" {{ c.header}}" [binary]="true" inputId="binary"></p-checkbox>

      </th>
    </div>
    <br>
    <div class="shadow-1 p-2 gap-1 text-3xl flex inline-flex justify-content-evenly" >filtrate Grain size  :<br>
      <p-listbox [options]="Selectetsbl.analysesPhysiques!==undefined?Selectetsbl.analysesPhysiques:[]" [(ngModel)]="SelectedsbnlPrintAnalyse" optionLabel="reference" [filter]="true" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}"></p-listbox>
      <div *ngIf="SelectedsbnlPrintAnalyse.hasOwnProperty('id')" class="p-2">
        <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.dateAnalyse}}</span><br>
        <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.matiere}}</span><br>
        <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.temperature}} °C</span><br>
      </div>
    </div>
  </div>

  <hr>
  <div #pdfpuit class="pt-8 pl-4 pr-4">
    <img src="assets/layout/images/logo.png">
    <div class="row justify-content-end font-bold flex text-1xl"> Creation date: <span class=" text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd"}}</span></div>
    <div class="row    font-bold flex text-1xl   "> Identification :<span class=" text-1xl font-bold   "> {{Selectetsbl.reference}}</span></div>

    <div class="row   text-8xl font-bold text-center m-2 p-3" > Analysis Report </div>
    <div class="mt-5 mb-5">

      <label class="font-bold text-5xl  ">Chemical analysis</label>
      <br><br><br><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{Selectetsbl.reference}}</span><br>
      <label class="text-2xl font-bold">Date creation :</label><span class=" ml-2 text-2xl">{{Selectetsbl.dateStock}}</span><br>

    </div>

    <p-table #dt1 [value]="getAnalyse()" [tableStyle]="{ 'min-width': '50rem' }"
             dataKey="id" id="EXCEL"
             [showCurrentPageReport]="true"
             [globalFilterFields]="['dateAnalyse']"



    >


      <ng-template pTemplate="header">
        <tr>

          <ng-container *ngFor="let c of getColsfiltr()">
            <th>{{ c.header }}</th>
          </ng-container>


          <!--       <th>-->
          <!--         <p-columnFilter type="date" field="dateAnalyse" display="menu"></p-columnFilter>-->

          <!--         Date Analyse</th>-->


          <!--        <th>Temperature °C</th>-->
          <!--        <th>wind (km/h)</th>-->
          <!--        <th>humidity  </th>-->
          <!--        <th>Densite (g/cm 3)</th>-->
          <!--        <th>Suspended Matter (g)</th>-->
          <!--        <th>salinite (psu)</th>-->
          <!--        <th>Calcium (mmol/L)</th>-->
          <!--        <th>Magnesium (g)</th>-->
          <!--        <th>Sulfate (g)</th>-->
          <!--        <th>Insoluble matter (g)</th>-->
          <!--        <th>Potassium (mmol/L)</th>-->
          <!--        <th>Sodium (mmol)</th>-->
          <!--        <th>Chlorure (meq · L–1)</th>-->
          <!--        <th>pH</th>-->
          <!--        <th>sodium chloride (g)</th>-->
          <!--        <th>Ferrocyanure (g/mol)</th>-->

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
        <tr>


          <td *ngIf="colsfiltre[0].hide" >{{ a.reference==undefined?'-':a.reference }}</td>
          <td *ngIf="colsfiltre[1].hide">{{ a.dateAnalyse | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="colsfiltre[2].hide">{{ a.temperature==undefined?'-':a.temperature }}</td>
          <td *ngIf="colsfiltre[3].hide">{{ a.vent ==undefined?'-':a.vent}}</td>
          <td *ngIf="colsfiltre[4].hide">{{ a.humidite==undefined?'-':a.humidite }}</td>
          <td *ngIf="colsfiltre[5].hide">{{ a.densite ==undefined?'-':a.densite}}</td>
          <td *ngIf="colsfiltre[6].hide">{{ a.matiereEnSuspension==undefined?'-':a.matiereEnSuspension }}</td>
          <td *ngIf="colsfiltre[7].hide">{{ a.salinite ==undefined?'-':a.salinite}}</td>
          <td *ngIf="colsfiltre[8].hide">{{ a.calcium==undefined?'-':a.calcium }}</td>
          <td *ngIf="colsfiltre[9].hide" >{{ a.magnesium ==undefined?'-':a.magnesium}}</td>
          <td *ngIf="colsfiltre[10].hide">{{ a.sulfate==undefined?'-':a.sulfate }}</td>
          <td *ngIf="colsfiltre[11].hide">{{ a.matiereInsoluble ==undefined?'-':a.matiereInsoluble}}</td>
          <td *ngIf="colsfiltre[12].hide">{{ a.potassium==undefined?'-':a.potassium }}</td>
          <td *ngIf="colsfiltre[13].hide">{{ a.sodium ==undefined?'-':a.sodium}}</td>
          <td *ngIf="colsfiltre[14].hide">{{ a.chlorure==undefined?'-':a.chlorure }}</td>
          <td *ngIf="colsfiltre[15].hide">{{ a.ph ==undefined?'-':a.ph}}</td>
          <td *ngIf="colsfiltre[16].hide">{{ a.chlorureDeSodium ==undefined?'-':a.chlorureDeSodium}}</td>
          <td *ngIf="colsfiltre[17].hide">{{ a.ferrocyanure ==undefined?'-':a.ferrocyanure}}</td>

        </tr>
      </ng-template>
    </p-table>
    <br><br><br><br>

    <label class="font-bold top-5 text-5xl">Grain Size</label>
    <br><br><br><br>
    <div class=" top-5 bottom-5">
      <label class="text-2xl font-bold">Date   :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.dateAnalyse}}</span><br>
      <label class="text-2xl font-bold">Reference  :</label><span class="ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.reference}}</span><br>
      <label class="text-2xl font-bold">Relative :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.matiere}}</span><br>
      <label class="text-2xl font-bold">Temperature :</label><span class=" ml-2 text-2xl">{{SelectedsbnlPrintAnalyse.temperature}} °C</span><br>
    </div>
    <br><br><br>
    <p-table class=" " id="TAMIS" #dt [value]="getTamisFiltred()" [columns]="cols"  responsiveLayout="scroll"       dataKey="id">

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="dateintervention">Calibre <p-sortIcon field="dateintervention"></p-sortIcon></th>
          <th pSortableColumn="qui">Weight <p-sortIcon field="qui"></p-sortIcon></th>
          <th pSortableColumn="natureAction">Refus <p-sortIcon field="natureAction"></p-sortIcon></th>
          <th pSortableColumn="resultat">Refus Cumulated<p-sortIcon field="resultat"></p-sortIcon></th>
          <th pSortableColumn="certificat">pass Cumulated <p-sortIcon field="certificat"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tamis >
        <tr >

          <td >
            {{tamis.calibre}}
          </td>
          <td>

            {{tamis.masse}}
          </td>
          <td >

            {{tamis.refus}}


          </td>


          <td >

            {{tamis.refusCumulated}}
          </td>
          <td>

            {{tamis.passCumulated}}
          </td>





        </tr>
      </ng-template>
    </p-table>



  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF"  ></p-button>
    <button type="button" pButton pRipple  icon="pi pi-file-excel" (click)="ExportExcel()" class="p-button-success " label="EXCEL" pAutoFocus [autofocus]="true"  ></button>
    <button type="button" pButton pRipple icon="pi pi-file" (click)="exportcsv()" class="p-button-warning " label="CSV" pTooltip="CSV" ></button>

  </ng-template>
</p-dialog>
