<div class="grid"  >
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button *ngIf="getToken()=='ADMIN'" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button *ngIf="getToken()=='ADMIN'"  pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedBassins()" [disabled]="!selectedStockOrders || !selectedStockOrders.length"></button>
            <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-primary mr-2" (click)="getAllStockOrder()"  ></button>

          </div>
        </ng-template>


      </p-toolbar>

      <p-table #dt [loading]="loading" [value]="stockOrders" [columns]="cols"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','name','calibre','terrain','quai','total','reference','saline','dateCreation','port']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Display  {first} to  {last} of  {totalRecords} entries" [(selection)]="selectedStockOrders" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Stock Order management</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>



          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="dateCreation">Creation Date<p-sortIcon field="dateCreation"></p-sortIcon></th>
            <th pSortableColumn="calibre">Calibre <p-sortIcon field="calibre"></p-sortIcon></th>
            <th pSortableColumn="saline">Saline volume <p-sortIcon field="saline"></p-sortIcon></th>
            <th pSortableColumn="terrain">Terrain volume<p-sortIcon field="terrain"></p-sortIcon></th>
            <th pSortableColumn="port">Port volume<p-sortIcon field="port"></p-sortIcon></th>
            <th pSortableColumn="quai">Quai volume <p-sortIcon field="quai"></p-sortIcon></th>
            <th pSortableColumn="total">Total volume<p-sortIcon field="total"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stockOrder >
          <tr >
            <td>
              <p-tableCheckbox [value]="stockOrder"></p-tableCheckbox>
            </td>
            <td >
              <span class="p-column-title">Id</span>
              {{stockOrder.id}}
            </td>
            <td >
              <span class="p-column-title">Reference</span>
              {{stockOrder.reference}}
            </td>
            <td >
              <span class="p-column-title">Name</span>
              {{stockOrder.nom}}
            </td>

            <td >
              <span class="p-column-title">Creation Date</span>
              {{stockOrder.dateCreation| date :'dd-MM-yyyy' }}
            </td>
            <td >
              <span class="p-column-title">Calibre</span>
              {{stockOrder.calibre}}
            </td>
            <td >
              <span class="p-column-title">Saline volume</span>
          {{getSumSalines(stockOrder)}}
            </td>
            <td >
              <span class="p-column-title">Terrain volume</span>
              {{stockOrder.volumeTerrain}}
            </td>
            <td >
              <span class="p-column-title">Port volume</span>
              {{stockOrder.volumePort}}
            </td>
            <td >
              <span class="p-column-title">Quai volume</span>
              {{stockOrder.volumeQuai}}
            </td>
            <td >
              <span class="p-column-title">Total volume</span>
                  {{calculTotalVolume(stockOrder)}}
            </td>
            <td>
              <div class="flex">
                <button *ngIf="getToken()=='ADMIN' ||'EMPLOYER'" pButton pRipple icon="pi pi-arrow-right-arrow-left" class="p-button-rounded p-button-info mr-2" (click)="transferStockOrder(stockOrder)"></button>
                <button *ngIf="getToken()=='ADMIN' ||'EMPLOYER'" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-secondary mr-2" (click)="AddToSalineStockOrder(stockOrder)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)=" editStockOrder(stockOrder)"></button>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteStockOrder(stockOrder)"></button>

              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Pond details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="bassin">Pond</label>
          <p-multiSelect id="bassin" [options]="bassins"    [(ngModel)]="stockOrder.bassinList"  placeholder="Select a Pond" optionLabel="reference" display="chip" ></p-multiSelect>

        </div>

        <div class="field">
          <label for="reference">Reference</label>
          <input type="text" pInputText id="reference"  [(ngModel)]="stockOrder.reference"/>
        </div>
        <div class="field">
          <label for="Nom">Nom</label>
          <input type="text" pInputText id="nom"  [(ngModel)]="stockOrder.nom" />
        </div>

        <div class="field">
          <label for="dateCreation">Creation Date</label>
          <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="dateCreation"  [(ngModel)]="stockOrder.dateCreation"  />
        </div>
        <div class="field">
          <label for="calibre">Calibre</label>
          <p-inputNumber  id="calibre"  [(ngModel)]="stockOrder.calibre" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
        </div>

        <div class="field">
          <label class="font-bold " >Volume Saline   :  {{getSumSalines(stockOrder)}} </label>
         </div>
        <div class="field">
          <label for="terrain">Volume Terrain</label>
          <p-inputNumber  id="terrain"  [(ngModel)]="stockOrder.volumeTerrain" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
        </div>
        <div class="field">
          <label for="port">Volume Port</label>
          <p-inputNumber  id="port"  [(ngModel)]="stockOrder.volumePort" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
        </div>
        <div class="field">
          <label for="quai">Volume Quai</label>
          <p-inputNumber  id="quai"  [(ngModel)]="stockOrder.volumeQuai" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
        </div>


      </ng-template>




      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStockOrder()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog  class="p-fluid" [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center   justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center overflow-auto" >
        <i class="pi pi-exclamation-triangle mr-3" ></i>
        <span>Are you sure you want to delete?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>



<p-dialog [(visible)]="TransferDialog"  [maximizable]="true"  [style]="{width: '1300px'}" header="Transfer Quantity" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <h3>Add Transfer</h3>
    <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between gap-2 align-items-center border border-1 border-round border-gray-400 p-3">

      <div class="">
        <label for="date">Date Creation</label>
        <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText id="date"  [(ngModel)]="historyTransfer.dateCreation"  />
      </div>
      <div class=" ">
        <label >Starting point</label>
        <p-dropdown [options]="TransferAttributsStart" [(ngModel)]="startingPoint" [editable]="true" (ngModelChange)="getTransferAttributsFiltredStart()"  optionLabel="label" class="w-full" ></p-dropdown>

      </div>

      <div class="">
        <label >Arriving point</label>
        <p-dropdown [options]="TransferAttributsEnd" [(ngModel)]="arrivingPoint" (ngModelChange)="getTransferAttributsFiltredEnd()" [editable]="true" optionLabel="label" class="w-full" ></p-dropdown>
      </div>

      <div class="">
        <label for="transfer">Transfer Quantity</label>
        <p-inputNumber  id="transfer"  [(ngModel)]="TransferQuantity" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
      </div>
      <div class="">
        <label >Rain Quantity Zarzis</label>
        <input type="text" pInputText  [(ngModel)]="historyTransfer.rainQuantityZarzis"  />
      </div>
      <div class="">
        <label >Observation</label>
        <textarea
          rows="2"
          cols="10"
          pInputTextarea
          [(ngModel)]="historyTransfer.observation">
      </textarea>
      </div>
      <div>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransferQuantity()"></button>
      </div>

    </div>
    <p-messages [(value)]="messages" [enableService]="false" />

    <div class="cart mt-5">
      <p-table #dt [loading]="loading"
               [value]="stockOrder.listHistory"
               [columns]="cols"
               responsiveLayout="scroll"
               [globalFilterFields]="['surface','etat','id','emplacement','nom','dateCreation','reference','description']"
               [scrollable]="true"
               [tableStyle]="{ 'min-height': '25rem' }"
               [scrollHeight]="'400px'"
               editMode="row"

            [(selection)]="selectedSalines" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">History Transfer</h5>
              <div class=" flex gap-1">
                <div class="gap-1 flex align-items-center">Date Start :

                  <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartTransfer"  />

                </div>
                <div class="gap-1  flex align-items-center">
                  Date End :

                  <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndTransfer"  />

                </div>
              </div>
              <p-button (click)="filtreListTransferWithDate(dateStartTransfer,dateEndTransfer)" class=" " icon="pi pi-search" label="Search"></p-button>
              <p-button (click)="getStockOrderById()" class=" " icon="pi pi-refresh" label="Clear"></p-button>

              <div>
                <span> <span class="font-bold">Total :</span> {{totalTransferFiltree}}</span>
              </div>
              <div>
            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Date Creation<p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Starting Point <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Arriving Point <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Transfer Quantity <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Rain Quantity Zarzis <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Observation <p-sortIcon field="description"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-history let-editing="editing" >
          <tr [pEditableRow]="history" >

            <td >
              <span class="p-column-title">Id</span>
              {{history.id}}
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input  class="p-2 shadow-1" type="date" dateFormat="yy-mm-dd"  pInputText   [(ngModel)]="history.dateCreation"  />

                </ng-template>
                <ng-template pTemplate="output">
                  {{history.dateCreation|date:'dd-MM-yyyy'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td >
                  {{history.startingPoint}}
            </td>
            <td >
                  {{history.arrivingPoint}}
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="history.transferQuantity" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{history.transferQuantity}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="history.rainQuantityZarzis" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{history.rainQuantityZarzis}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="history.observation" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{history.observation}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateHistory(history)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateHistory(history)"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteHistory(history)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </ng-template>




  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hideDialogTransfer()"></button>
  </ng-template>
</p-dialog>

<!--======================================-->

<p-dialog [(visible)]="AddToSalineDialog"  [maximizable]="true"   [style]="{width: '1400px'}" header="Saline" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <h3>Add Saline</h3>

    <div class="flex flex-column border border-1 border-round border-gray-400 p-3 gap-2">
    <div *ngIf="getToken()=='ADMIN'" class="flex justify-content-between align-items-center gap-2 ">
      <div class="">
        <label >Date Creation</label>
        <p-calendar
          [(ngModel)]="saline.dateCreation"
          [showIcon]="true"
          [showOnFocus]="false"
          [dateFormat]="'dd-MM-yy'"
          inputId="buttondisplay" />
      </div>
     <div>
       <label >Pond Available</label>

      <p-dropdown
        [options]="stockOrder.bassinList"
        [(ngModel)]="selectedBassin"
        optionLabel="nom"
        placeholder="Select a Pond" />
     </div>


      <div class="">
        <label for="Volume">Volume Saline</label>
        <p-inputNumber  id="Volume"  [(ngModel)]="saline.volumeSaline" mode="decimal" [minFractionDigits]="3" ></p-inputNumber>
      </div>
      <div class="">
        <label >Rain Quantity Bengardene</label>
        <input type="text" pInputText  [(ngModel)]="saline.rainQuantityBengardene"  />
      </div>
      <div class="">
        <label >Temperature</label>
        <input type="text" pInputText  [(ngModel)]="saline.temperature"  />
      </div>

    </div>
    <div class="">
      <label >Observation</label>
      <textarea
        rows="2"
        cols="10"
        pInputTextarea
        [(ngModel)]="saline.observation">
      </textarea>
    </div>
      <div class ="flex justify-content-end w-full">
        <p-button  [outlined]="true"  label="Save" icon="pi pi-check" class="p-button-text w-1" (click)="saveSaline()"></p-button>
      </div>
   </div>
    <div class="cart mt-5">
      <p-table #dt [loading]="loading"
               [value]="stockOrder.salines"
               [columns]="cols"
               responsiveLayout="scroll"
               [globalFilterFields]="['surface','etat','id','emplacement','nom','dateCreation','reference','description']"
               [scrollable]="true"
               [tableStyle]="{ 'min-height': '25rem' }"
               [scrollHeight]="'400px'"
               editMode="row"
               [(selection)]="selectedSalines" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex justify-content-between align-items-center w-full">
              <h5 class="m-0">Saline management</h5>
              <div class=" flex gap-1">
                <div class="gap-1 flex align-items-center">Date Start :

                  <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateStartSaline"  />

                </div>
                <div class="gap-1  flex align-items-center">
                  Date End :

                  <input  class="p-2 shadow-1" type="date" dateFormat="dd-MM-yyyy"    pInputText   [(ngModel)]="dateEndSaline"  />

                </div>
              </div>
              <p-button (click)="filtreListSalineWithDate(dateStartSaline,dateEndSaline)" class=" " icon="pi pi-search" label="Search"></p-button>
              <p-button (click)="getStockOrderById()" class=" " icon="pi pi-refresh" label="Clear"></p-button>

              <div>
                <span> <span class="font-bold">Total :</span> {{totalSalineFiltree}}</span>
              </div>
              <div>
            <span class=" p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input  type="text" pInputText (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="reference">Date Creation<p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="reference">Pond Name<p-sortIcon field="reference"></p-sortIcon></th>
            <th pSortableColumn="description">Volume Saline <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Rain Quantity Bengardene <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Temperature <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="description">Observation<p-sortIcon field="description"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-saline let-editing="editing" >
          <tr [pEditableRow]="saline" >

            <td >
              <span class="p-column-title">Id</span>
              {{saline.id}}
            </td>

            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-calendar
                    [(ngModel)]="saline.dateCreation"
                    [showIcon]="true"
                    [showOnFocus]="false"
                    [dateFormat]="'dd-MM-yy'"
                    inputId="buttondisplay" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.dateCreation|date:'dd-MM-yyyy'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown
                    [options]="stockOrder.bassinList"
                    [(ngModel)]="selectedBassin"
                    optionLabel="nom"
                    placeholder="Select a Pond" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.nomBassin}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="saline.volumeSaline" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.volumeSaline}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="saline.rainQuantityBengardene" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.rainQuantityBengardene}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="saline.temperature" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.temperature}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea
                    rows="2"
                    cols="10"
                    pInputTextarea
                    [(ngModel)]="saline.observation">
                  </textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  {{saline.observation}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex  align-items-center gap-2">
                <div class="flex align-items-center justify-content-center gap-2" *ngIf="getToken()=='ADMIN'">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="updateSaline(saline)"
                          class="p-button-rounded   mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button"  pSaveEditableRow icon="pi pi-check"
                          (click)="saveUpdateSaline()"
                          class="p-button-rounded p-button-text  mr-2"></button>
                </div>
                <button *ngIf="getToken()=='ADMIN'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteSaline(saline)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </ng-template>




  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="hideDialogAddToSaline()"></button>
  </ng-template>
</p-dialog>

