<!--=============================================suivi Bassin Mensuel PDF=========================================================-->
<div class="card">
<div >

    <div class="shadow-1 p-2  " >


      <div class="card flex justify-content-evenly align-items-center ">
        <div class="gap-1 flex align-items-center">Month :
          <p-calendar
            [(ngModel)]="date"
            view="month"
            dateFormat="mm/yy"
            [readonlyInput]="true" />
        </div>


        <p-button (click)="getDataByDay(date)" class=" " icon="pi pi-search" label="Search"></p-button>

      </div>

    </div>


    <div #pdfpuit class="pt-8 pl-4 pr-4">
      <div class="flex border-1 w-full justify-content-between mb-6">
        <div class="flex-initial flex align-items-center justify-content-center   font-bold m-2 px-5 py-3 border-round">
          <img src="assets/layout/images/logo.png">

        </div>
        <div class="flex-initial flex align-items-center justify-content-center  text-6xl font-bold m-2 px-5 py-3 border-round">
          Daily monitoring month
        </div>
        <div class="flex-initial border-1 flex     w-25  font-bold m-2 px-5 py-3  ">
          <div class="col   ">
            <div class="row  mb-2    w-full  ">BEN GUERDANE, TUNISIA  </div>
            <div class="row mb-2   w-full text-center    text-1xl font-bold  pi pi-calendar ">{{dateToday | date :"yyyy-MM-dd hh:ss a"}}</div>

          </div>
        </div>
      </div>

      <p-table class="" [loading]="loadDaily" #dt styleClass="p-datatable-gridlines" [value]="listDateDaily" responsiveLayout="scroll" [globalFilterFields]="['dateCreation']" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th rowspan="2" pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
            <th colspan="2" class="text-center">Harvest</th>
            <th class="text-center" [attr.colspan]="getuniqueCalibresProduction().length +1">Production</th>
            <th class="text-center" [attr.colspan]="getuniqueCalibresTransfer().length ">Transfer</th>
            <th rowspan="2">Observation (Harvest, Production, Transfer)</th>
          </tr>
          <tr>
            <th>T</th>
            <th>Pond</th>
            <ng-container *ngFor="let calibre of getuniqueCalibresProduction()">
              <th>Quality 0-{{ calibre }}</th>
            </ng-container>
            <th>Pond</th>
            <ng-container *ngFor="let calibreTransfer of getuniqueCalibresTransfer()">
              <th>Lot weight 0-{{ calibreTransfer }}</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dateDaily let-ri="rowIndex">
          <tr>
            <td>
              <span class="p-column-title">Date</span>
              {{ dateDaily.date | date: 'dd-MM-yyyy' }}
            </td>


            <td>
              <span class="p-column-title">T</span>
              <ng-container *ngFor="let harvest of dateDaily.dataDaily.harvestList">
                <div class="flex flex-column gap-2">
                  {{ harvest.t }}
                </div>
              </ng-container>
            </td>
            <td>
              <span class="p-column-title">Pond</span>
              <ng-container *ngFor="let harvest of dateDaily.dataDaily.harvestList">
                <div class="flex flex-column gap-2">
                  {{ harvest.t !== 0 ? harvest.pondeName : '-' }}
                </div>
              </ng-container>
            </td>


            <ng-container *ngFor="let calibre of getuniqueCalibresProduction()">
              <td>
                <span class="p-column-title">Quality plus calibre</span>
                <ng-container *ngFor="let production of dateDaily.dataDaily.productionList">
                  <ng-container *ngIf="production.calibre === calibre; else noCalibre">
                    <div class="flex flex-column gap-2">
                      {{ production.value }}
                    </div>
                  </ng-container>
                </ng-container>
                <ng-template #noCalibre>
                  <div class="flex flex-column gap-2">
                    -
                  </div>
                </ng-template>
              </td>
            </ng-container>
            <td>
              <span class="p-column-title">Pond</span>
              <ng-container *ngFor="let production of dateDaily.dataDaily.productionList">
                <div class="flex flex-column gap-2">
                  {{ production.value !== 0 ? production.pondeName : '-' }}
                </div>
              </ng-container>
            </td>


            <ng-container *ngFor="let calibre of getuniqueCalibresTransfer()">
              <td>
                <span class="p-column-title">Lot weight plus calibre</span>
                <ng-container *ngFor="let transfer of dateDaily.dataDaily.transferList">
                  <ng-container *ngIf="transfer.calibre === calibre; else noCalibreTransfer">
                    <div class="flex flex-column gap-2">
                      {{ transfer.masse }}
                    </div>
                  </ng-container>
                </ng-container>
                <ng-template #noCalibreTransfer>
                  <div class="flex flex-column gap-2">
                    -
                  </div>
                </ng-template>
              </td>
            </ng-container>

            <td>
              <div class="flex flex-column gap-2">

             <span *ngIf="getLengthOfObservation(dateDaily.observationsHarvest)"><span class="font-bold">Observation Harest:</span>  {{ dateDaily.observationsHarvest }}</span>
             <span *ngIf="getLengthOfObservation(dateDaily.observationsProduction)"><span class="font-bold">Observation Production:</span>  {{ dateDaily.observationsProduction }}</span>
             <span *ngIf="getLengthOfObservation(dateDaily.observationsTransfer)">
               <span class="font-bold">Observation Transfer:</span>
               {{ dateDaily.observationsTransfer }}
             </span>

              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td> <span class="font-bold">Total</span></td>
            <td>{{getTotalHarvest()}}</td>
            <td></td>
            <ng-container *ngFor="let calibre of getuniqueCalibresProduction()">
              <td>{{getTotalProductionQuantity(calibre)}}</td>
              </ng-container>
              <td></td>
            <ng-container *ngFor="let calibre of getuniqueCalibresTransfer()">
              <td>{{getTotalTransferQuantity(calibre)}}</td>

            </ng-container>
            <td></td>
          </tr>
        </ng-template>
      </p-table>



    </div>
  </div>
  <div class="flex justify-content-end mt-5">
    <p-button icon="pi pi-file-pdf" (click)="SavePDF()" class="text-green-50" label="PDF" pAutoFocus [autofocus]="true"  ></p-button>

  </div>
</div>
